/*----Grid ADM----*/
.gridAgendaOut {margin:10px auto 50px auto;}
.gridAgenda {display:table; width:100%;}
.gridAgenda:nth-child(odd) {background:#eee;}
.gridAgenda:hover {background:#e9e9e9;}
.gridAgenda div {display:table-cell;}
.gridAgenda div:first-child {width:20%; font-size:16px; font-weight:900; padding:10px;}
.gridAgenda div:nth-child(2) {width:20%; padding:10px;}
.gridAgenda div:nth-child(3) {width:15%; padding:10px;}
.gridAgenda div:nth-child(4) {width:10%; padding:10px;}
.gridAgenda div:nth-child(5) {width:20%; padding:10px;}
.gridAgenda div:nth-child(6) {width:15%; padding:10px; vertical-align:middle; text-align:right;}
.gridAgendaLink:hover {color:#333;}

.gridAgendaHead {background:none!important; font-size:14px; font-weight:900; border-bottom:1px solid #aaa;}
.gridAgendaHead div:nth-child(6) {text-align:left!important;}


.gridAgenda2Out {margin:10px auto 50px auto;}
.gridAgenda2 {display:table; width:100%;}
.gridAgenda2:nth-child(odd) {background:#eee;}
.gridAgenda2:hover {background:#e9e9e9;}
.gridAgenda2 div {display:table-cell;}
.gridAgenda2 div:first-child {width:10%; font-size:16px; font-weight:900; padding:10px; text-align:left;}
.gridAgenda2 div:nth-child(2) {width:35%; padding:10px; text-align:left!important;}
.gridAgenda2 div:nth-child(3) {width:35%; padding:10px; text-align:left!important;}
.gridAgenda2 div:nth-child(4) {width:10%; padding:10px; text-align:left;}
.gridAgenda2 div:nth-child(5) {width:10%; padding:10px; vertical-align:middle; text-align:right;}
.gridAgenda2Link:hover {color:#333;}

.gridAgenda2Head {background:none!important; font-size:14px; font-weight:900; border-bottom:1px solid #aaa;}
.gridAgenda2Head div:nth-child(6) {text-align:left!important;}


.gridAgenda3Out {margin:10px auto 50px auto;}
.gridAgenda3 {display:table; width:100%;}
.gridAgenda3:nth-child(odd) {background:#eee;}
.gridAgenda3:hover {background:#e9e9e9;}
.gridAgenda3 div {display:table-cell;}
.gridAgenda3 div:first-child {width:50%; font-size:16px; font-weight:900; padding:10px; text-align:left;}
.gridAgenda3 div:nth-child(2) {width:45%; padding:10px; text-align:left!important;}
.gridAgenda3 div:nth-child(3) {width:5%; padding:10px; text-align:left!important;}
.gridAgenda3Link:hover {color:#333;}

.gridAgenda3Head {background:none!important; font-size:14px; font-weight:900; border-bottom:1px solid #aaa;}
.gridAgenda3Head div:nth-child(6) {text-align:left!important;}


.gridAgenda4Out {margin:10px auto 50px auto;}
.gridAgenda4 {display:table; width:100%;}
.gridAgenda4:nth-child(odd) {background:#eee;}
.gridAgenda4:hover {background:#e9e9e9;}
.gridAgenda4 div {display:table-cell;}
.gridAgenda4 div:first-child {width:50%; font-size:16px; font-weight:900; padding:10px; text-align:left;}
.gridAgenda4 div:nth-child(2) {width:40%; padding:10px; text-align:left!important;}
.gridAgenda4 div:nth-child(3) {width:10%; padding:10px; text-align:left!important;}
.gridAgenda4 div:nth-child(4) {width:5%; padding:10px; text-align:left!important;}
.gridAgenda4Link:hover {color:#333;}

.gridAgenda4Head {background:none!important; font-size:14px; font-weight:900; border-bottom:1px solid #aaa;}
.gridAgenda4Head div:nth-child(6) {text-align:left!important;}


.gridAgenda5Out {margin:10px auto 50px auto;}
.gridAgenda5 {display:table; width:100%;}
.gridAgenda5:nth-child(odd) {background:#eee;}
.gridAgenda5:hover {background:#e9e9e9;}
.gridAgenda5 div {display:table-cell;}
.gridAgenda5 div:first-child {width:20%; font-size:16px; font-weight:900; padding:10px; text-align:left;}
.gridAgenda5 div:nth-child(2) {width:20%; padding:10px; text-align:left!important;}
.gridAgenda5 div:nth-child(3) {width:10%; padding:10px; text-align:left!important;}
.gridAgenda5 div:nth-child(4) {width:15%; padding:10px; text-align:left!important;}
.gridAgenda5 div:nth-child(5) {width:15%; padding:10px; text-align:left!important;}
.gridAgenda5 div:nth-child(6) {width:10%; padding:10px; text-align:left!important;}
.gridAgenda5 div:nth-child(7) {width:10%; padding:10px; text-align:left!important;}
.gridAgenda5Link:hover {color:#333;}

.gridAgenda5Head {background:none!important; font-size:14px; font-weight:900; border-bottom:1px solid #aaa;}
.gridAgenda5Head div:nth-child(7) {text-align:left!important;}


.gridAgenda6Out {margin:10px auto 50px auto;}
.gridAgenda6 {display:table; width:100%;}
.gridAgenda6:nth-child(odd) {background:#eee;}
.gridAgenda6:hover {background:#e9e9e9;}
.gridAgenda6 div {display:table-cell;}
.gridAgenda6 div:first-child {width:20%; font-size:16px; font-weight:900; padding:10px; text-align:left;}
.gridAgenda6 div:nth-child(2) {width:20%; padding:10px; text-align:left!important;}
.gridAgenda6 div:nth-child(3) {width:10%; padding:10px; text-align:left!important;}
.gridAgenda6 div:nth-child(4) {width:15%; padding:10px; text-align:left!important;}
.gridAgenda6 div:nth-child(5) {width:15%; padding:10px; text-align:left!important;}
.gridAgenda6 div:nth-child(6) {width:10%; padding:10px; text-align:left!important;}
.gridAgenda6 div:nth-child(7) {width:10%; padding:10px; text-align:left!important;}
.gridAgenda6Link:hover {color:#333;}

.gridAgenda6Head {background:none!important; font-size:14px; font-weight:900; border-bottom:1px solid #aaa;}
.gridAgenda6Head div:nth-child(7) {text-align:left!important;}


.fontA {font-family:FontAwesome;}

.botEsq {
    background:#0e4d8e;
    color:#fff;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: 300;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.botMeio {
    background:#777;
    color:#fff;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	border-left: 1px solid #0e4d8e;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: 300;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
    margin-right:-4px!important;
    margin-left:-4px!important;
}

.botDir {
    background:#0e4d8e;
    color:#fff;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: 300;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin:0px!important;
}

.botUnic {
    background:#0e4d8e;
    color:#fff;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: 300;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
}

.botUnic:hover, .botEsq:hover, .botDir:hover {
    background:#fff;
    color:#0e4d8e;
    border: 1px solid #0e4d8e;
	text-decoration:none;
}

.botMeio:hover {
    background:#fff;
    color:#777;
	 text-decoration:none;
}
/*----fim do Grid ADM----*/

.input-group-addon {width:46px!important; padding-top:12px;}


/*--------- radio button ------------*/
/* The container */
.containerR {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerR input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
	border:1px solid #999;
}

/* On mouse-over, add a grey background color */
.containerR:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerR input:checked ~ .checkmark {
    background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerR input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerR .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #555;
}
/* Create a custom radio button */

.sidebyside {display:table-cell;}
.largMax {width:100%;}
.sidebysideMargT {margin-top:33px; position:absolute;}
.ajustTop {position:relative; width:30px;}
.retoB {border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;}
.retoB:hover {background:#337ab7!important;}
.boxGerEst {background:#337ab7; color:#fff; padding:30px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; width:70%; margin:40px auto;}
.boxGerEst div {display:table-cell; padding-left:20px; padding-right:20px;}
.retoB2 {background:#999;}
.retoB2:hover {background:#777!important;}
.boxArredondado {padding:20px; background:#93b3ce; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; color:#fff;}
.evetDet {height:70px!important; border:1px solid #ccc; padding:5px; overflow-y: scroll!important;}
.btn-pagar { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.btn-pagar:hover {background:#286090!important;}
.bot-pagarAlin {margin:0px auto!important; display:block!important; width:120px!important;}
input[type=file] {max-width:300px;}
.boxAlerta {background:#df8b8b; padding:20px 20px; width:100%; border:1px solid #724242;  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; color:#fff; font-size:18px; text-align:center; margin:30px 0px;}

/*----scroll especial----*/
.barScroll::-webkit-scrollbar {
    width: 0.5em;
} 
.barScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.barScroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 4px;
}
/*----fim scroll especial----*/

.div-circle2 {height: 30px; width: 30px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; background: #ffa200; padding-top: 6px; margin-bottom: 10px; color:#fff; text-align:center;  margin-left:5px; margin-top:19px; font-size:9px;}
.div-ingresso2 {padding-left: 4px; float:left;}
.div-especial2 {height: 30px; width: 30px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; background: blue; padding-top:5px; margin-bottom: 10px; padding-left: 8px; float:left; margin-left:5px;  text-align:center;  margin-top:19px;}
.div-trash2 {height: 30px; width: 30px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; background: #9F030A; padding-top: 5px; margin-bottom: 10px; float:left; margin-left:5px; cursor: pointer;  text-align:center;  margin-top:19px;}
.div-cupom2 {height: 30px; width: 30px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; background: #3c8fc8; padding-top: 5px; margin-bottom: 10px; float:left; margin-left:5px; cursor: pointer;  text-align:center;  margin-top:19px;}

.semPad {padding:0px!important;}

/*--------------bilheteria----------------*/
.bordArredondBilhet {border:solid 1px #ccc; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.bordArredondBilhet2 {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:1px solid #ddd; min-height:600px; padding:15px; background: url(../images/plastic.jpg);}
.fundoBilhet {border:solid 1px #ccc; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding-top:20px;}
.fundoBilhet input[type=text], .fundoBilhet select {font-size:13px!important; padding-top:5px; padding-bottom:5px; height:27px; margin: 0 0 0.7rem; color:#000!important;}
.fundoBilhet select {-moz-appearance:button; /* Firefox */ -webkit-appearance:menulist!important; /* Safari and Chrome */ appearance:button; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.apareceSetSelect {-moz-appearance:button; /* Firefox */ /*-webkit-appearance:menulist!important;*/ /* Safari and Chrome */ appearance:button;}
.prodBilhet {border:0px!important; border-bottom:2px groove #ddd!important;  -webkit-border-radius:0px!important; -moz-border-radius:0px!important; border-radius:0px!important; padding-bottom:2px!important;}
.ocupBilhet, .cupom-codigo {background:rgba(6, 6, 6, 0.2); border-top:none!important; border-left:none!important; border-right:none!important;  color:#000; padding:2px 0px 2px 8px!important; margin:2px; border:2px solid #ccc; }
.cupom-codigo2 {background:rgba(255, 255, 255, 1); border-top:none!important; border-left:none!important; border-right:none!important;  color:#000; padding:2px 0px 2px 8px!important; margin:2px; border:2px solid #ccc; }
.borderSulco {border:2px groove #aaa; margin-bottom:8px;}
.borderSulco2 {border:2px groove #aaa; margin-top:35px!important; margin-bottom:-10px!important;}
.corBrancaB {color:#fff;}
.confirmaVenda label {color:#fff;}
.imgLogoEasy {margin-top:10px;}
/*---------fim da bilheteria-----------*/

.tabRelato {border:solid 1px #0e4d8e; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.nav-tabs li.active a {background:#14275a; color:#fff;}

.semPaddingL {padding-left:0px}
.semPaddingR {padding-left:0px}
.alinhaDir {text-align:right;}
.alinhaEsq {text-align:left;}

/*----scroll especial----*/
.barScroll::-webkit-scrollbar {
    width: 0.5em;
} 
.barScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.barScroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 4px;
}
/*---- fim scroll especial----*/

.semborder {border:none!important;}

.detalhes-bilheteria {height: 300px; overflow: overlay;}
.sempadL {padding-left:0px!important;}
.sempadR {padding-right:0px!important;}

.gridTabela {display:table; width:100%;}
.gridTabela div {display:table-cell;}
.gridTabela div:first-child {width:15%;}
.gridTabela div:nth-child(2) {width:15%;}
.gridTabela div:nth-child(3) {width:15%;}
.gridTabela div:nth-child(4) {width:15%;}
.gridTabela div:nth-child(5) {width:15%;}
.gridTabela div:nth-child(6) {width:11%;}
.gridTabela div:nth-child(7) {width:14%;}
