a {font-weight:normal!important;}
a:hover {background:#e7e7e7!important;}

.header {
    margin-top: 0px!important;
}

.fundoNav {
    transition: all ease 0.5s;
    background: rgba(255, 255, 255, 0.1)!important;
    border-bottom: 2px solid #a600ff;
}

.fundoNav2 {
    transition: all ease 0.5s;
    background: rgba(166, 0, 255, 0.8);
    border-bottom: 2px solid #a600ff;
    padding: 5px 0px 0px 0px!important;
}

.linkMenu li a {
    font-size: 17px!important;
    padding: .5em .4em!important;
}

.linkMenu li a:hover {
    color: #ccc!important;
}

.logoPague {
    transition: all ease 0.5s;
    position: absolute;
    z-index: 10;
    background-image: url(../images/logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 350px;
    height: 160px;
    cursor: pointer;
    left: 200px;
}

.logoPague img {
    width: 100%;
}

.logoPague3 {
    transition: all ease 0.5s;
    width: 300px;
    background-image: url(../images/logo2.png);
}

.navbar-nav {
    transition: all ease 0.5s;
}

.navbar-nav2 {
    transition: all ease 0.5s;
    float: right;
    margin: 3px 0 0 0!important;
}

.botCopLoj {
    background-color: #4f007a;
    width: 100%;
}

.botCopLojColL,
.botCopLojColR {
    display: table-cell!important;
    vertical-align: middle!important;
    color: #fff;
}

.botCopLojColL h2,
.botCopLojColR h2 {
    margin-top: 25px!important;
    margin-bottom: 25px!important;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.botCopLojColL h2:hover,
.botCopLojColR h2:hover {
    color: #fff;
    transform: scale(1.1);
}

.botCopLojColL h2 {
    margin-right: 70px;
    text-align: center;
}

.botCopLojColR h2 {
    margin-left: 40px;
    text-align: center;
}

.agileits-banner-info h3 {
    font-size: 80px!important;
    margin-top: 170px!important;
    margin-left: 40px!important;
    text-align: left;
}

.agileits-banner-info p {
    font-size: 24px!important;
    margin-left: 40px!important;
    margin-top: 0px!important;
    text-align: left;
    width: 100%!important;
}


/*.funcionamento li {width: 50%; height: 370px; float: left; text-align: center; margin-bottom: 4em; margin: 0; padding: 0; list-style-type: none;}
.header2 {width: 100%; display: inline-block; text-align: left;}*/

.number {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: #2c85c5;
    color: #fff;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
}

.text2 {
    display: inline-block;
    width: 20em;
    vertical-align: middle;
    font-size: 1.1em;
    text-align: left;
}

.funciona div {
    padding: 40px;
}

.funciona h3 {
    text-align: center;
    font-family: 'MuseoSans500', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.contato h3 {
    text-align: center!important;
    text-transform: none!important;
    letter-spacing: 0px!important;
}

.funciona2 {
    margin: 0px!important;
    padding: 0px!important;
    min-height: 90px;
    color: #999;
}

.imgFunc {
    width: 100%;
}

.alinDir {
    font-family: 'MuseoSans500', sans-serif;
    font-weight: 700;
    text-transform: none!important;
    letter-spacing: 2px!important;
    font-size: 35px!important;
}

.daZoom {
    width: 150px!important;
}

.menuDev {
    background-color: #2c85c5;
}

.menuDev:hover {
    background-color: #2c85c5!important;
}

.menuSup {
    background-color: #00285b;
}

.menuSup:hover {
    background-color: #00285b!important;
}

.banner-topint {
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    ;
}

.titPags {
    background-color: #00285b;
}

.titPags div h3 {
    margin: 20px 0!important;
    color: #fff;
    font-family: 'MuseoSans500', sans-serif;
    font-size: 30px;
}

.textosDiversos {
    line-height: 30px;
    text-align: justify;
}

.textosDiversos p {
    margin-top: 50px;
}

.textosDiversos h3 {
    text-align: center;
}

.logoPeq {
    width: 120px;
}

.aliCentro {
    text-align: center;
}

.espaEsq {
    margin-left: -20px!important;
    line-height: 28px;
}

.modalTopo {
    margin-top: 80px;
}


/*  accordion  */

.accordTop {
    width: 100%!important;
    padding: 15px;
    text-align: left;
    background-color: #2c85c5;
    border: 1px solid #aaa;
    color: #fff;
    font-size: 25px;
    font-family: 'MuseoSans100', Arial, sans-serif;
}

.accordTop label {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    cursor: pointer;
}

.accordTop span {
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.accordTop .alinhaDir {
    float: right;
}

.accordBottom {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.accordBottom div {
    padding: 30px;
}

.accordBottom div h3 {
    margin-bottom: 30px;
}


/*  fim accordion  */


/*  accordion2  */

.accordTop2 {
    width: 100%!important;
    padding: 0px 15px;
    text-align: left;
    background-color: #2c85c5;
    border: 1px solid #aaa;
    color: #fff;
    font-size: 20px;
    font-family: 'MuseoSans100', Arial, sans-serif;
}

.accordTop2 label {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    cursor: pointer;
}

.accordTop2 span {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.accordTop2 .alinhaDir {
    float: right;
    font-size: 40px;
    margin-right: 0px;
}

.accordBottom2 {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: justify;
}

.accordBottom2 p {
    padding: 30px;
    margin-top: 0px;
}

.accordBottom2 p h3 {
    margin-bottom: 30px;
}


/*  fim accordion  */

.list-description {
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    text-decoration: none;
}

.list-description li {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    padding: 0 1em 0 2em;
    text-align: left;
    line-height: 18px;
}

.title-download {
    font-size: 24px;
}

.linkHome:hover {
    text-decoration: none;
}

.contactSup {
    padding: 2em 0!important;
}

.imgemTotal img {
    width: 90%;
}

.margm2em {
    margin: 2em 0 0 0;
}

.titulo2 {
    font-family: Allura;
    font-size: 70px;
    text-align: right;
}

.titulo3 {
    font-family: Allura!important;
    font-size: 60px!important;
    text-align: center;
    color: #fff!important;
    margin: 20px auto;
    font-weight: normal!important;
    text-transform: none!important;
}

.markets p {
    color: #fff!important;
    text-align: justify;
    line-height: 30px!important;
}

.largTot {
    width: 100%;
}

.vidYou {
    font-size: 45px!important;
    margin-top: 20px;
    color: #a600ff;
}

.vidYou:hover {
    color: #d27dff;
}

.galeria {
    background: url(../images/topGallery.jpg) no-repeat 0px 0px;
    background-size: cover;
    height: 600px;
}

.galeria .titulo3 {
    margin-top: 150px;
}

.galeria p,
.galeria li {
    color: #fff;
    font-size: 22px;
}

.espacoLeft {
    margin-left: 50px;
}

.fotos {
    margin-top: 70px;
}

.separaFotos {
    margin-bottom: 70px!important;
}

.btn1Centro {
    width: 100%;
    text-align: center;
}

@media(max-width:480px) {
    .logoPague {
        left: -20px;
    }
    .titulo2 {
        font-size: 40px!important;
    }
}

.videos2 div {
    text-align: center;
}

.prog {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0px!important;
}

.colorCz {
    border-color: #555!important;
}

.largTer {
    width: 65%;
    margin: 0px auto;
    display: block;
}

.boxRoxo {
    margin: 40px auto;
    display: block;
    background-color: #7c459f;
    background: url(../images/admBackLogin.jpg) no-repeat 0px 0px;
    background-size: cover;
}

.boxRoxo span {
    color: #2c71b9;
    font-size: 90px;
    position: absolute;
    margin-left: 200px;
}

.boxRoxo1 {
    margin: 20px auto;
    display: block;
    background-color: #7c459f;
}

.boxRoxo1 span {
    color: #8852ab;
    font-size: 90px;
    position: absolute;
    margin-left: 50px;
}

.boxRoxo1 .cadastro {
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

.formMineirao label {
    color: #fff;
}

.formMineiraobox {
    width: 80%;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 120px;
}

.formMineiraobox input[type='text'],
input[type='password'] {
    color: #aaa;
}

.compras,
.areas,
.blocos,
.carrinho,
.finalizar,
.areas2 {
    color: #aaa!important;
    font-size: 20px!important;
    margin: 10px auto!important;
}

.comprasborda div {
    border: 1px solid #ddd;
}

.areas2 {
    margin-left: 10px!important;
    margin-top: 0px!important;
}

#mapaMineirao {
    position: relative;
    width: 522px;
    height: 410px;
    margin: 0 auto;
}

.areaEvento {
    position: absolute;
    cursor: not-allowed;
}

.areaEvento.disponivel,
.saiba-mais {
    cursor: pointer;
}

.areaEvento.disponivel a {
    display: block;
    width: 100%;
    height: 100%;
}

#areaNorte,
#areaSul {
    height: 220px;
    width: 135px;
}

#areaLeste,
#areaOeste {
    width: 252px;
    height: 150px;
}

#areaNorte {
    left: 0;
    top: 80px;
}

#areaLeste {
    left: 134px;
    top: 0;
}

#areaOeste {
    left: 134px;
    bottom: 0;
}

#areaSul {
    right: 0;
    top: 80px;
}

#mapaRoxo,
#mapaVermelho {
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    border: 0px solid #aaa;
    border-radius: 0px;
}

#infoSetor {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 170px;
    font-size: 14px;
    background-color: #FFF;
    padding: 10px;
    display: none;
}

.infoSetorChild {
    display: none;
}

.nopadding {
    padding-left: 0;
    padding-right: 0;
}


/*.oeste .bloco, .oeste .camarote {
    stroke:#fff;stroke-width:5px;
}*/

#lugares .bloco,
#lugares .camarote {
    stroke: #fff;
    stroke-width: 5px;
}

.oeste .bloco,
.oeste .camarote {
    fill: #634096;
    cursor: pointer;
}

.oeste .bloco:hover,
.oeste .camarote:hover {
    fill: #a591c4;
}

.leste .bloco,
.leste .camarote {
    fill: #bd080f;
    cursor: pointer;
}

.leste .bloco:hover,
.leste .camarote:hover {
    fill: #ff0000;
}

.oeste .bloco.bloqueado, .oeste .camarote.bloqueado{
    fill: #999;
    cursor: auto;
}

.leste .bloco.bloqueado, .leste .camarote.bloqueado{
    fill: #999;
    cursor: auto;
}

/*.oeste .bloco.selecionado, .oeste .camarote.selecionado {
    fill:#830000;
}*/

#lugares .bloco.selecionado,
#lugares .camarote.selecionado {
    fill: #830000;
}

#lugares .arquibancada {
    fill: #CCC;
    stroke: #999;
    stroke-width: 5px;
}

.fil0x {
    fill: #ff00ff;
    cursor: pointer;
}

.fil0x:hover {
    fill: #ff0000
}

.str1 {
    stroke: #555;
    stroke-width: 5px
}

.fil1 {
    fill: #aaa;
}

.fil2 {
    fill: #815AA4;
    cursor: pointer;
}

.fil2:hover {
    fill: #C9AED3
}

.mapaDefundo {
    background: url(../images/mapa2.png) no-repeat 0px 0px;
    background-size: cover;
}

.mapaDefundoOeste {
    background: url(../images/areaOeste.png) no-repeat top center;
    background-size: 1100px auto;
    height: 500px;
}

.fotoN {
    width: 100%;
}

.menuGeral {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    transition: all 0.4s;
    font-size: 22px;
}

.modal {
    z-index: 2000;
}

.textosAprest div:first-child {
    font-size: 20px!important;
    color: #000;
}

.textosAprest div:nth-child(2) {
    font-family: Oswald-Light;
    font-size: 20px!important;
    /*background-color: #ddd;*/
    padding: 3px 3px 3px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.textosAprest span {
    color: #35e7c6;
    font-size: 40px;
    position: absolute;
    margin-top: -15px;
    margin-left: -20px;
}

.textosAprest2 div:first-child {
    font-size: 30px!important;
    background-color: #ddd;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.textosAprest2 div:nth-child(2), .textosAprest2 div:nth-child(3){
    font-size: 18px;
    line-height: 30px;
    font-family: Oswald-Light;
    margin-top: 20px;
}

.textosAprest2 div:nth-child(3) span input {
    margin: 30px auto 0px auto;
}

.textosAprest2 div:nth-child(3) hr {
    border: 1px solid #ddd;
    margin-top: 20px;
}

.tabProd {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
    min-height: 200px;
}

.tabProd div:first-child {
    margin: 5px 0px 10px 5px;
}

.textosAprest3 div:nth-child(2) span input {
    margin: 30px auto 0px auto;
}

.textosAprest3 div:nth-child(2) hr {
    border: 1px solid #ddd;
    margin-top: 20px;
}

.modal-backdrop.in {
    opacity: 0;
    filter: alpha(opacity=0);
}

.carrDest input:first-child, button#autorizar-pagamento {
    background: url(../images/bt-enviar2.png) no-repeat left center;
    color: #000!important;
}

.carrDest a:first-child {
    background: url(../images/bt-enviar2.png) no-repeat left center;
    color: #000!important;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    vertical-align: middle;
}

.textMod {
    margin: 20px 0px;
    width: 100%;
    text-align: center;
}

.botaoGeral {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #7f4ba3;
    color: #fff;
    border: none;
}

.cli-cartao {margin-bottom: 20px;}
.cli-bloco {margin-bottom: 13px;}

.select-lugares {
    font-size: 10px;
}

.plus-green {
    color: green;
}

.plus-red {
    color: red;
}

.plus-blue {
    color: blue;
}

.plus-white {
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.titArea {
    margin: 10px 0px 10px 10px;
    font-family: 'Oswald', sans-serif;
}

.titArea h4 {
    font-size: 20px!important;
    color: #000;
}

.campoDiv {
    position: absolute;
    width: 100%;
    z-index: 0;
    text-align: center;
}

.campoP {
    width: 55%!important;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.oeste {
    margin-top: 50px;
}

.leste {
    margin-top: 54px;
}

.fundoEstadio {
    /*ajustar essa imagem*/
    background: url(../images/stone.jpg) repeat top center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

#infoSetor {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.campoP2 {
    width: 120px;
}

.tabProd2 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 3px 15px;
    background-color: #fff;
    height: 115px;
    /*ajustar essa imagem*/
    background: url(../images/back_roxo.png) no-repeat top center;
    background-size: cover;
    color: #fff;
    line-height: 25px;
}

.oesteInfo,
.lesteInfo {
    display: table;
    width: 100%;
}

.oesteInfo div:first-child,
.lesteInfo div:first-child {
    display: table-cell;
    width: 15%;
}

.oesteInfo div:nth-child(2),
.lesteInfo div:nth-child(2) {
    display: table-cell;
    width: 60%;
    padding-left: 20px;
    vertical-align: middle;
}

.oesteInfo div:nth-child(2) ul,
.lesteInfo div:nth-child(2) ul {
    line-height: 15px;
}

#table-item thead {
    background: transparent;
    color: #fff;
    border: 0px;
}

#table-item tbody {
    border: 0px;
    background-color: transparent;
}

.oesteInfo div:nth-child(3),
.lesteInfo div:nth-child(3) {
    display: table-cell;
    width: 13%;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}

.oesteInfo div:nth-child(3) i,
.lesteInfo div:nth-child(3) i {
    margin-top: 5px;
    cursor: pointer;
    color: #35e7c6!important;
}

.oesteInfo div:nth-child(4),
.lesteInfo div:nth-child(4) {
    display: table-cell;
    width: 13%;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}

.oesteInfo div:nth-child(4) i,
.lesteInfo div:nth-child(4) i {
    margin-top: 5px;
    cursor: pointer;
    color: #35e7c6!important;
}

.oesteInfo div:nth-child(3) i:hover,
.lesteInfo div:nth-child(3) i:hover,
.oesteInfo div:nth-child(4) i:hover,
.lesteInfo div:nth-child(4) i:hover {
    color: #17c4a4!important;
}

.tam30 {
    font-size: 30px;
}

.modalFoto {
    width: 700px;
}

.flipHor {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flipHor:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mouseMao {
    cursor: pointer;
}

.larg10 {
    margin-right: 40px!important;
}

.icon:hover {
    text-decoration: none!important;
}

.carrinho-selected {
    color: #ccc;
}

.carrinho-vendido {
    background-color: yellow;
}

.carrinho-reserva-cliente {
    background-color: orange;
}

.linhaLogin {
    border: 1px solid #2c71b9!important;
    margin-top: 40px;
}

.linkcAD {
    color: #fff;
    font-weight: 100;
}

.spanLog {
    color: #fff!important;
    font-size: 20px!important;
    position: relative!important;
    margin-left: 0px!important;
}


/*.has-error .help-block, .has-error .control-label, .has-success .control-label {color:#fff!important;}*/

.pesoNormal {
    font-weight: normal!important;
}

.borderRedond {
    padding: 5px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.borderRedond ul li {
    margin: 0px;
}

.borderRedond ul li a {
    font-weight: normal;
}

.separaCard img,
.separaCard span,
.separaCard i {
    margin-right: 40px;
}

.separaCard i {
    cursor: pointer;
}

.comoTabela {
    display: table;
    width: 100%;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.comoTabela div {
    display: table-cell;
}

.comoTabela div:first-child {
    width: 30%;
    padding-left: 10px;
}

.comoTabela div:nth-child(2) {
    width: 40%;
    font-size: 18px;
}

.comoTabela div:nth-child(3) {
    width: 20%;
    font-size: 22px;
}

.comoTabela div:nth-child(4) {
    width: 10%;
    font-size: 22px;
}

.nav-tabs {
    border-bottom: none;
}

.tab-content {
    border: none;
}

.tab-content ul li {
    cursor: pointer;
    padding-bottom: 0px;
}

.tab-content li a {
    border: 3px solid #ddd;
    color: #aaa;
    font-weight: normal;
    outline: none;
}

.tab-content li a {
    border-bottom: none;
}

.tab-content li a:hover {
    background: #ddd;
}

.tab-content li a:hover {
    border: 3px solid #ddd;
    color: #aaa;
}

.tab-content li a:hover {
    border-bottom: none;
}

.tab-content li.active a {
    background: #ddd;
    color: #555;
    font-weight: normal;
    cursor: pointer
}

.tab-content li.active a:focus {
    background: #ddd;
    color: #555;
}

.tab-content li.active a:hover {
    background: #aaa;
    color: #fff;
    font-weight: normal;
    cursor: pointer
}

#tab-cartoes,
.tabCartao2 {
    border: 3px solid #ddd!important;
    background: #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 400px;
    padding: 5px;
}

.boxMensagem2 {
    margin: 70px auto;
    width: 400px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 30px;
    height: auto!important;
}

.tarjaCz {
    background-color: #ddd;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fontPeq div {
    font-size: 16px;
    font-weight: normal;
    color: #000;
}

.fontPeq2 div {
    font-size: 16px;
    font-weight: normal;
}

.checkoutPgto div.checkoutPgto1 {
    border: 1px solid #ccc!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px!important;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    min-height: 180px!important;
    background: #e9e9e9;
}

.checkoutPgto div.checkoutPgto1 div {
    font-size: 14px;
    margin: 3px 0px;
    font-family: calibri;
    color: #555;
}

.checkoutPgto div.checkoutPgto1 div select {
    font-size: 12px;
    height: 30px;
    padding: 2px;
    margin-bottom: 0px;
    font-family: calibri;
    color: #555;
    width:100px;
}

.checkoutPgto div.checkoutPgto1 div input {
    font-size: 12px;
    height: 30px;
    padding: 2px;
    margin-bottom: 0px;
    font-family: calibri;
    color: #555;
    width: 50px;
}

.checkoutPgto div.cupom div input {
    width: 150px !important;
}

.checkoutPgto p {
    text-align: center;
    font-size: 16px;
    color: #00d0ce;
}

.alinhaD {
    text-align: right;
}

.msg-carrinho {
    position: absolute;
    margin-top: -38px;
    color: white;
    font-size: smaller;
}

#form-login .control-label {
    color: white !important;
}

#form-login .help-block {
    color: orange !important;
}

.contato .esqueci-senha {
    color: black !important;
}

#troca-senha .linkcAD,
#reembolso .modal-reembolso {
    color: #5c5c5c;
    font-weight: 100;
}

.lbl-parcelas {
    margin-top: 10px !important;
}

.font-passwd {
    font-size: 20px !important;
}

.cursor-reemb {
    cursor: pointer;
}

.boxDados {
    border: 3px solid #ddd!important;
    background: #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 400px;
    padding: 20px!important;
}

.table thead {
    background: #eee;
}

.table {
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    border-radius: 14px!important;
}

.imgTexto {
    position: absolute!important;
    z-index: 2;
    top: 0px;
    height: 100%;
    width: 100%;
    background: no-repeat right 120px;
    transition: all 0.3s;
}

.strikeDesconto {
    text-decoration: line-through;
    font-size: 10px;
}

.botVisit {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.botVisit a {
    background: #3535b9;
    width: 90%;
    padding: 10px;
    display: block;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 12px;
    color: #fff;
    font-weight: normal;
}

.modal-header .close {
    margin-top: -9px;
}

.close {
    font-size: 40px;
}

.tableResumo {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 20px;
}

.tableResumoBold {font-family:'Oswald-Medium';}

.tracejado {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px dotted #aaa;
}

.tracejado:last-child {
    border-bottom: none;
}

.mineiraocard-nome-info,
.mineiraocard-cpf-info {
    font-size: 12px;
    color: #FF0000;
}

#info-card {
    margin-left: 10px;
    margin-top: -30px;
}

#info-card ul {
    line-height: 10px;
    list-style-type: none;
}

.aceite {
    font-size: large;
}

.aceite-visto {
    color: #aaa !important;
}

.popover {
    width: 250px;
}

.popover-title {
    background: #aaa;
    color: #fff;
}

.scrollTermos,
.scrollPolitic {
    max-height: 300px!important;
    width: 100%;
    overflow-y: scroll;
}

a.carrinho {
    font-weight: 1;
}

.setRight,
.setLeft {
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -20px;
    width: 100%;
}

.setRight img,
.setLeft img {
    width: 40%;
}

.alinhaL {
    text-align: left;
}

.alinhaC {
    text-align: center;
}

.carousel-control {
    width: 7%!important;
}

.popover {
    background-color: #83bdd8;
    color: #fff;
}

.arrow::after {
    bottom: calc((.8rem - 1px) * -1);
    margin-left: -.8rem;
    border-top-color: #83bdd8!important;
}

.card {
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 14px 10px 10px 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.4)!important;
}

.card a {
    text-decoration: none;
    font-size: 20px;
}

.card a:hover {
    color: #aaa;
}

.espacoLinha {
    line-height: 28px!important;
    font-size: 16px;
    text-align: justify;
}


/*.header_mobile {background:none!important; border-bottom:none!important;}*/

.menu_mobile {
    top: 25px!important;
    max-width: none!important;
    width: 100%!important;
}

@media(max-width:1024px) {
    .margFinal {
        margin-top: 25px;
    }
}

.btn-resumo {
    margin-left: 10px !important;
}

.menu-area-cliente:hover {
    color: #7f4ba3;
    text-decoration: none;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
    line-height: inherit;
    cursor: pointer;
}
.aumentuser {font-size:125px!important; color:#aaa;}
.arred {width:150px; height:150px; background:#fff!important; border:2px solid #aaa!important; text-align:center; margin:20px auto!important; display:block!important; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; padding-top:5px;}
.lead {margin:0px auto!important; font-size:30px;}
.aument p {font-size:18px!important; color:#999;}
.maisMargem {margin:27px 0px;}
.linhFina {border-bottom:groove 2px #fff!important;}

.tabelaAuxDoc {width:100%; margin-bottom:0px!important;}
.table tbody {background:none!important;}
.tabelaAuxDoc tr td:first-child {width:35%;}
.tabelaAuxDoc tr td:nth-child(2) {width:20%;}
.tabelaAuxDoc tr td:nth-child(3) {width:27%;}
.tabelaAuxDoc tr td:nth-child(4) {width:15%;}
.tabelaAuxDoc tr td:nth-child(5) {width:3%;}
.tabelaAuxDoc tr td {padding:2px!important;}
.tabelaAuxDoc tr td input {padding:2px!important; height:24px!important; font-size:12px; font-family:arial; margin-bottom:0px!important; width:100%;}
.tabelaAuxDoc tr td i {width:100%; cursor:pointer; margin-left:3px;}
.tabelaAuxDoc tr td input[type="button"] {width:100px;}
.tabelaAuxDoc tr:nth-child(2) td {text-align:right;}
.tabelaAuxDoc tr td span {color:#ff0000!important; font-size:14px; position:absolute; margin-top:5px;}
.tabelaAuxDoc tr td:first-child input {width:95%; margin-left:7px;}
.tabelaAuxDoc tr td:nth-child(2) input {width:93%; margin-left:7px;}

.divsAuxDoc div input {padding:2px!important; height:24px!important; font-size:12px; font-family:arial; margin-bottom:0px!important;}
.divsAuxDoc div:first-child input {width:95%; margin-left:7px;} 
.divsAuxDoc div:nth-child(2) input {width:95%; margin-left:7px;} 
/*.divsAuxDoc div:nth-child(5) {text-align:center; cursor:pointer;}*/

table tbody tr.tabela-linha-consolidado, table > tbody > tr.tabela-linha-consolidado:nth-of-type(2n+1){
    background:#ccc;
    font-weight: bold;
}
.uppercase{
    text-transform: uppercase;
}
#identHomolog{
    position: fixed;
    z-index: 1000000;
    top:0;
    width:100%;
    padding: 5px 0;
    background: #fff;
    background-color: yellow;
    color:#ff0000;
    font-size: 14px;
    text-transform: uppercase;
}

.imgMapa {width:90%; margin:20px auto;}
#textInstru {width:90%; margin:20px auto 40px auto; display:block; list-style-type: none;}
#textInstru li {border:1px solid #32007a; background:#634096; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding:10px; margin:5px 0px; text-align:left; color:#fff; font-size:18px;}
.mapa-assentos-oeste, .mapa-assentos-leste {border-bottom:1px solid #ccc;}
#textInstru2 {display:block; margin-top:20px; font-size:16px!important;}

#textInstru3 {width:90%; margin:0px auto 40px auto; display:block; list-style-type: none;}
#textInstru3 li {border:1px solid #32007a; background:#ed3237; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding:10px; margin:5px 0px; text-align:left; color:#fff; font-size:18px;}
.mapa-assentos-oeste {border-bottom:1px solid #ccc;}

.back-amarelo {background-color: yellow; color: black !important; border-right: solid 1px white; border-bottom: solid 1px white; padding-top: 10px; padding-bottom: 10px; font-size: 12px;}
.back-vermelho {background-color: red; color: white; border-right: solid 1px white; border-bottom: solid 1px white; padding-top: 10px; padding-bottom: 10px; font-size: 12px;}
.back-laranja {background-color: orange; border-right: solid 1px white; border-bottom: solid 1px white; padding-top: 10px; padding-bottom: 10px; font-size: 12px;}
.back-azul {background-color: blue; color:white; border-right: solid 1px white; border-bottom: solid 1px white; padding-top: 10px; padding-bottom: 10px; font-size: 12px;}
.back-preto {background-color: grey; color: white; border-right: solid 1px white; border-bottom: solid 1px white; padding-top: 10px; padding-bottom: 10px; font-size: 12px;}
.back-green {background-color: green; color: white; border-right: solid 1px white; border-bottom: solid 1px white; padding-top: 10px; padding-bottom: 10px; font-size: 12px;}

.back-vermelho a, .back-vermelho a:hover, .back-laranja a, .back-laranja a:hover, 
.back-azul a, .back-azul a:hover, .back-preto a, .back-preto a:hover, .back-green a, .back-green a:hover {
    color: #fff;
}
.back-amarelo a, .back-amarelo a:hover {color: black;}

.reserva-border {border-right: 3px solid #ccc;}

#pgtoConciliacao input {width:auto;}

.reserva-label {font-size: 20px; text-align: center;}
.reserva-border {border-right: 3px solid #ccc;}


.legMap {overflow: hidden; margin:0px auto; display:block; width:70%; padding-left:30px;}
.legMap li {float: left; margin-left: 25px; margin-right:10px;}
.legMap li:first-child {list-style-image: url('../images/legend_ver.png');}
.legMap li:nth-child(2) {list-style-image: url('../images/legend_aml.png');}
.legMap li:nth-child(3) {list-style-image: url('../images/legend_azu.png');}
.legMap li:nth-child(4) {list-style-image: url('../images/legend_ved.png');}

.reserva-div, .blocos-div {height:100px; overflow: auto;}
.reserva-top {margin-top: 27px;}
.reserva-text {font-size: 12px;}

.celulaTab {display:table-cell; font-size:14px!important; vertical-align:middle;}
.celulaTab:first-child {padding:5px; width:70%;}
.celulaTab:nth-child(2) {padding:5px; width:30%;}
.celTabLeft {display:table-cell; width:70%;}
.celTabRight {display:table-cell; width:30%; padding-right:10px; vertical-align:middle;}
.celTabRight img {width:100%;}

.relogio {display:table; margin:0px auto; width:100%!important;}
.relogio div {display:table-cell; padding:6px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background:#fff; text-align:center;}
.relogio div:first-child {width:33px!important; font-size:18px!important; background:#a6e3ff;}
.relogio div:nth-child(2) {width:5%!important; background:none; padding-left:5px!important; padding-right:5px!important;}
.relogio div:nth-child(3) {width:33px!important; font-size:18px!important; background:#a6e3ff;}
.boxRelog {background-image: url(../images/back_cont.png); background-size: 100% auto; background-repeat: no-repeat;}

.tabBreadCrumb {display:table; width:100%; height:61px;}
.tabBreadCrumb div {display:table-cell;}
.tabBreadCrumb div:first-child {width:17%;}
.tabBreadCrumb div:nth-child(2) {width:17%;}
.tabBreadCrumb div:nth-child(3) {width:17%;}
.tabBreadCrumb div:nth-child(4) {width:17%;}
.tabBreadCrumb div:nth-child(5) {width:32%;}
.tabBreadCrumbCarrinho{
    background: url(../images/losang1.png) no-repeat 0px 0px; background-size: 100%;
}
.tabBreadCrumbSemCarrinho{
    background: url(../images/losang0.png) no-repeat 0px 0px; background-size: 100%;
}
.espacoTop2 {padding-top:32px; padding-left:30px;}
.espacoTop3 {padding-left:30px;}
.celulaTab {display:table-cell; font-size:14px!important; vertical-align:middle;}
.celulaTab:first-child {padding:10px 0px 10px 20px;}
.celulaTab:nth-child(2) {padding:10px 0px 10px 20px;}

.captcha-margin {margin-top: 20px; margin-bottom: 20px;}
.btn-caixa-top {padding-top: 20px;}

.tabProds {display:table; width:100%; margin:0px!important; padding:0px!important;}
.tabProds div {display:table-cell; padding:8px; vertical-align:top;}
.tabProds div p {line-height:1.2em!important;}
.tabProds div input {font-size:12px; padding:4px; height:auto;}
.imgBanner {width:120px!important;}
.riscoLateral {border-left:1px solid #ccc; margin-left:50px!important;}
.mineiraocard-submit {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background:#64bad6; border:none;}
.corCz {color:#64bad6!important; font-size:20px;}
.corCz:hover {color:#166a85!important;}
.cellBots {vertical-align:middle!important; width:40px!important; text-align:right;}
.divsAuxDoc {margin-right:0px!important; padding-right:0px!important;}
.zeraesp {padding:0px;}
.pintooltip {position:absolute; margin-top:-38px; margin-left:20px; font-size:22px;}
.botaoVoltar {padding:8px; background:#64bad6; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; display:block; margin:0px auto; color:#fff; width:120px; text-align:center;}
.botaoVoltar a {color:#fff; font-weight:normal!important;}
.botaoVoltar:hover {background:#337ab7;}
.botaoVoltar a:hover {text-decoration:none;}

.barrTitAdm {width:100%; min-height:60px; background-color:#015082;}
.barrSecAdm {background:#14275a; width:100%; padding:0px; display:table; min-height:50px;}
.barrSecAdm div:first-child {width:20%; background:#0e4d8e; min-height:50px; display:table-cell; text-align:center;}
.barrSecAdm div:nth-child(2) {width:80%; min-height:50px; display:table-cell; vertical-align:middle; text-align:right;}
.barrSecAdm div:nth-child(2) h3 {color:#fff!important; margin-right:20px;}
.logobranco {width:120px; margin:7px;}
.admNav {margin:0px; padding:0px;}
.navbar {min-height:40px!important; margin-bottom: 0px!important; border-bottom:1px solid #aaa;}
.navbar .container {padding-top:0px; padding-bottom:0px;}
.nav li {margin:0px; padding:0px;}
.navbar {border-radius: 0px!important;}

#tabelaGeralFinanceiro {
    font-size: 12px;
}

.tituloGeral {font-weight:normal; font-family:'Oswald-Medium'; border-bottom:1px dotted #aaa; width:100%; padding-bottom:10px;}
.boxLer {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; width:80%; background:#ddd; padding:30px; margin:30px auto;}
.boxLerIngresso {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background:#ddd; padding:30px;}
.boxLerIngresso2 {padding:30px;}
.boxLer2 {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; width:100%; background:#ddd; padding:10px; margin:20px auto;}
.boxLer2 input, .boxLer2 select, .boxLer2 button {font-size:12px; height:30px; padding:4px;}
.boxLer2 button {margin-top:24px; float:right;}
.boxLer3 {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; width:100%; background:#ddd; padding:10px 20px; margin:10px auto; display:none;}
.boxLer3 label {float:left;}
.viewNone {display:none;}
.viewAll {display:block;}
.boxTopRight {font-size:24px; font-weight:700; right:0px; position:absolute;}
#fechaboxFilter, #abreboxFilter {cursor:pointer;}
.tableInfo tbody, .tableInfo thead {border:1px solid #aaa!important;}
.tableInfo thead tr th {font-family:Oswald-Medium; font-weight:normal;}
.tableInfo tr:nth-child(odd) {background:#eee;}
.tableInfo tr:nth-child(even) {background:#dde9ed;}
.tableInfo thead tr {background:#ddd!important;}
.setaDown {font-size:24px!important; color:#007563;}
.setaDown:hover {color:#1fac96;}

h3 {font-weight:normal!important;}
.logoTop:hover {background:none!important;}
.bordaPont {border-bottom:1px dotted #aaa;}
.bordaPont2 {border-bottom:1px dotted #aaa; margin:20px 0!important;}
.btn-success {background-color: #0f8e7a!important; border-color: #007563!important; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.btn-success:hover {background-color: #149d87!important;}
.text10 {font-size:15px;}
.formIngressoCz {background:#0e4d8e!important; padding:20px!important; text-align:center!important; color:#fff;}
.btnAzEscuro {background:#002850; border:1px solid #00172e;}
.btnAzEscuro:hover {background:#0e3c6b;}
.fontBol {font-family:'Oswald-Medium'; font-size:18px;}
.boxTabs {background:#fff; -webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important; border:none;}
.boxTabs a {background:#fff!important; outline:none;}
.boxTabs.active, .boxTabs.active a {background:#ddd!important;}
.boxTabsInferior {padding:20px; background:#fff; border: 1px solid #ddd; background:#ddd!important; -webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important; border:none;}
.active2 {-webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important;}
.legendaBl {display:table!important; width:90%;}
.legendaBl div {display:table-cell!important; width:50%;} 
.legendaBl div:first-child span {width:20px; height:20px; background:gray; border:1px solid #fff; display:block; margin-left:10px; float:right;}
.legendaBl div:nth-child(2) span {width:20px; height:20px; background:green; border:1px solid #fff; display:block; margin-left:10px; float:right;}

.legendaBl2 {display:table!important; width:100%;}
.legendaBl2 div {display:table-cell!important; vertical-align:top;} 
.legendaBl2 div:first-child, .legendaBl2 div:nth-child(3), .legendaBl2 div:nth-child(5), .legendaBl2 div:nth-child(7), .legendaBl2 div:nth-child(9) {width:5%;}
.legendaBl2 div:nth-child(2), .legendaBl2 div:nth-child(4), .legendaBl2 div:nth-child(6), .legendaBl2 div:nth-child(8), .legendaBl2 div:nth-child(10) {width:15%; text-align:left;}
.legendaBl2 div:first-child span {width:20px; height:20px; background:gray; border:1px solid #fff; display:block; margin-left:10px;  margin-right:5px; float:right;}
.legendaBl2 div:nth-child(3) span {width:20px; height:20px; background:green; border:1px solid #fff; display:block; margin-left:10px;  margin-right:5px; float:right;}
.legendaBl2 div:nth-child(5) span {width:20px; height:20px; background:red; border:1px solid #fff; display:block; margin-left:10px;  margin-right:5px; float:right;}
.legendaBl2 div:nth-child(7) span {width:20px; height:20px; background:yellow; border:1px solid #fff; display:block; margin-left:10px;  margin-right:5px; float:right;}
.legendaBl2 div:nth-child(9) span {width:20px; height:20px; background:orange; border:1px solid #fff; display:block; margin-left:10px;  margin-right:5px; float:right;}
.legendaBlTit2 {color:#000; font-size:14px; text-transform: uppercase;}
.boxBorder {border:2px groove #fff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding:15px; margin-top:20px;}
.semboxBorder {border:none; padding:0px; margin-top:0px;}
.esconde, .boxBorder2int {display:none;}
.boxCz {border:2px groove #fff; background:#ddd; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding:10px; margin:10px;}
.boxCz2 {border:1px groove #fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding:10px; margin:10px; background:#ddd;}
.padraoTexta {font-family:calibri; font-size:12px;}
.padraoInput {font-family:calibri; font-size:12px; padding:3px;}
.boxHistoria {font-family:calibri; font-size:12px;}
.ricoBloqueio{margin:7px 0px; border-bottom:1px dotted #aaa;}
.titHistorico {font-size:13px; font-family:Oswald-Medium;}
.reserva-bloco:hover {color:#fff; background:none!important; background-color:none!important; text-decoration:none;}
.reserva-bloco-box {cursor:pointer;}
.reserva-bloco-box:hover {opacity: 0.7; filter: alpha(opacity=70);}

.btn-consulta {margin-top:27px;}

#modal-invalidar .modal-body {min-height: 180px;}

.img-adm {display: block; margin: 50px auto;}

.lote-reserva {height:300px; overflow: auto;}

.linhaAssociacaoAtual td{
    background-color: #c7e3d5
}

.associarIngressoInfoSucesso{
    color:#658d1b;
}

#holderFormInvalidar{
    display:none;
}

#tabela-vendas-transacoes{
    background: #FFF;
}
table#tabela-vendas-transacoes tbody tr{
    background: inherit;
}
#tabela-vendas-transacoes tr.nao-processada{
    color:#990000;
    background-color:#ccc;
}
#form-ativar-ingresso{
    min-width: 735px;
}
.label-opcaoRetira{
    color:#FFF;
    margin:0 4px;
}