@import url("fonts.css");
@import url("admCustom.css");
/*
Theme Name: Mineirão
Theme URI: http://www.mineirao.com.br/
Description: Thema feito e personlizado para o site mineirao.com.br.
Author: Coletanea de Ideias
Author URI: mailto:contato@coletneadeideias.com.br
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Mineirão, Estádio
Text Domain: Mineirão
*/

/* ESTRUTURA
-------------------------------------*/
html, body{ height: 100%; margin:0; padding:0;}
body{
	font-family:'Oswald', sans-serif; font-weight:400;	
	font-size:14px;
	font-size:0.875rem;
	background: url(../images/mineirao-backgroud.jpg) #FFF fixed;
	color:#5c5c5c;
	line-height:1.2;
	margin-bottom:220px;
}

h1,h2,h3,h4,h5,h6{ color:#5a5a5a; font-family: 'Oswald', sans-serif; }
h1,h2{ text-transform:uppercase; }
h1{ font-size:1.625rem;  font-weight:700;  }
h2{ font-size:1.25rem; font-weight:700;  }
h3{ font-size:1.125rem; font-weight:700; }
h4{ font-size:1rem; font-weight:400; }
h5{ font-size:0.9375rem; font-weight:400; }
h6{ font-size:0.75rem; font-weight:300; }
p{ font-size:0.875rem; font-weight:400; line-height:1.5; margin:0 0 15px 0; padding:0; }

a{ font-family:'Oswald', sans-serif; font-weight:700; transition:all 0.4s; }

input{ transition:all 0.4s; }

ul{ margin:0 0 10px 0; padding:0 0 0 15px; }
ul li{ margin:0 0 3px 10px; padding:0 0 2px 0; }

small{ font-size:8pt; font-family:'Oswald', sans-serif; font-weight:300; }	

figure{ padding:0; margin:0 0 10px 0; overflow:hidden; text-align:center; position:relative; transition:all 0.4s; }
figure .fx{ width:100%; height:100%; float:left; position:absolute; z-index:10; background:url(images/fx-historia.png) center center; opacity:0; transition:all 0.4s; }

figure img{ transition:all 0.3s;}
figure.auto img{ width:auto; }

figure:hover{ opacity:0.7; }

hr{ margin:0 0 10px 0; padding:0; border-bottom:solid 4px #c7c8ca; }
hr.soft{ border-bottom:solid 1px #c7c8ca; }



/* FONTES 
-------------------------------------*/
.light{ font-family:'Oswald', sans-serif; font-weight: 300; }
.medium{ font-family:'Oswald', sans-serif; font-weight: 400; }
.bold{ font-family:'Oswald', sans-serif; font-weight: 700; }

.text_medium{ font-size:1.3rem; }
.text_large{ font-size:2rem; line-height:1.1;}



/* CORES 
-------------------------------------*/
.white, .white:hover{ color:#FFF; }
.black, .black:hover{ color:#000; }
.roxo, .roxo:hover, .roxo:before{ color:#7f4ba3; }
.verde, .verde:hover{ color:#00d0ce; }
.verde2, .verde2:hover{ color:#3c9942; }
.amarelo, .amarelo:hover{ color:#f4ea12; }
.vermelho, .vermelho:hover{ color:#ef2a32; }
.azul, .azul:hover{ color:#5ec9e3; }
.laranja, .laranja:hover{ color:#ff734e; }
.silver, .silver:hover{ color:#797979; }
.silver_dark, .silver_dark:hover{ color:#484848; }
.dourado, .dourado:hover { color:#c6a464; }
.rosa, .rosa:hover{ color:#de45b5; }

hr.roxo{ border-color:#7f4ba3; }
hr.verde{ border-color:#00d0ce; }
hr.verde2{ border-color:#3c9942; }
hr.amarelo{ border-color:#f4ea12; }
hr.vermelho{ border-color:#ef2a32; }
hr.azul{ border-color:#5ec9e3; }
hr.laranja{ border-color:#ea7536; }
hr.silver{ border-color:#797979; }
hr.silver_dark{ border-color:#484848; }
hr.dourado{ border-color:#c6a464; }
hr.rosa{ border-color:#de45b5; }

figure.roxo{ border-top:solid 5px #7f4ba3; }
figure.verde{ border-top:solid 5px #00d0ce; }
figure.verde2{ border-top:solid 5px #3c9942; }
figure.amarelo{ border-top:solid 5px #f4ea12; }
figure.vermelho{ border-top:solid 5px #ef2a32; }
figure.azul{ border-top:solid 5px #5ec9e3; }
figure.laranja{ border-top:solid 5px #ea7536; }
figure.silver{ border-top:solid 5px #797979; }
figure.silver_dark{ border-top:solid 5px #484848; }
figure.dourado{ border-top:solid 5px #c6a464; }
figure.rosa{ border-top:solid 5px #de45b5; }


/* PAGINAÇÃO BT MORE
-------------------------------------*/
#pagination{ margin-top:30px; }
#pagination .load{ width:100%; text-align:center; height:32px; margin:20px 0; display:none; }
#pagination .load img{ width:auto; height:70px; }

.bt-more{ padding-top:10px; padding-bottom:20px; }
.bt-more:last-child{ padding-bottom:0; }
.bt-more hr{ margin:12px 0 0 0; border-width:thin;}


/* CLASSES PRINCIPAIS 
-------------------------------------*/
.container{ padding-top:20px; padding-bottom:60px; }
.container-min{ padding-top:20px; padding-bottom:20px; }
.main{ padding-top:10px; }
.wow,.wow1,.wow2,.wow3,.wow4,.wow5,.wow6{ visibility:hidden; }

.reset{ margin:0; padding:0; }
.reset-left{ padding-left:0px; }
.reset-right{ padding-right:0px; }
.reset-margin{ margin:0; }
.reset-padding{ padding:0; }

.margin-top{ margin-top:40px; }
.margin-bottom{ margin-bottom:40px; }
.padding-top{ padding-top:40px; }
.padding-bottom{ padding-bottom:40px; }

.margin-top-min{ margin-top:25px; }
.margin-bottom-min{ margin-bottom:25px; }
.padding-top-min{ padding-top:25px; }
.padding-bottom-min{ padding-bottom:25px; }

.uper{ text-transform:uppercase; }
.lower{ text-transform: lowercase; }
.capitalize{ text-transform:capitalize; } 
.no-transform{ text-transform:none; }
.justify{ text-align:justify; }
.no-list{ list-style:none; }
.shadow{ text-shadow:2px 2px #333; }

.right{ float:right;}
.left{ float:left;}

@media only screen and (max-width: 40em) {
	.container{ padding-top:25px; padding-bottom:25px; }
	.reset-right, .reset-left{ padding-right:0px; padding-left:0px; }	
}



/* HEADER 
--------------------------------------------------------*/
/* CAB 
-------------------*/
.cab{ background:#e9e9e9; }
.cab .row{ padding-top:7px; padding-bottom:7px; }
.cab .podcast{ display:inline-block; margin-left:5px; }
.cab .podcast .bt-icon:before{ left:0%; font-size:0.8rem; top:-1px; }
.cab .podcast .bt-icon:hover:before{ left:0%; color:#7f4ba3; }


/* HEADER 
-------------------*/
.header .boxe{ margin-top:-42px; margin-bottom:15px; }
.header .branding{ margin-bottom:0px; }
.header .podcast{ margin-bottom:20px; }
.header .podcast .play:before{ font-size:2rem !important; }
.header .podcast p{ margin-bottom:0; }
.header .social{ background:url(../images/social-head.png) right top no-repeat; }
.header .social .box{ height:30px; padding:70px 70px 55px 0; display:block; }
.header .social .icon::before{ color:#FFF; }
.header .social .social-network{ display:inline-block; margin:0 35px 0 0; }


/* HEADER MOBILE 
-------------------*/
.header_mobile{ 
	background:#f0f0f0;
	position:fixed; 
	z-index:2000; 
	max-width:100%; 
	width:100%; 
	border-bottom:solid 3px #e9e9e9;
	display:none;
}
.header_mobile .podcast{ background:#e9e9e9; padding-top:7px; padding-bottom:7px; }
.header_mobile .branding{ position:absolute; right:20px; z-index:2; top:10px; }
.header_mobile .social{ padding-right:150px;}
.header_mobile .social .icon:after{ font-size:20pt; }
.header_mobile .social .box{ display:inline-block; margin:0 auto; padding:10px 35px 12px 0; background:url(images/social-head-mobile.png) no-repeat top right; }
.header_mobile .icon-search{ margin-left:20px; }


/* BUSCA 
-------------------*/
.busca{ display:none; }
.busca input[type="text"]{ padding-right:40px; }
.busca .bt-enviar{ margin:-50px 10px 0 0; float:right; }


/* MENU 
-------------------*/
.menu{ margin-top:0; margin-bottom:0; }
.menu ul{ margin:0; padding:0; list-style:none; transition:all 0.3s; }
.menu li{ margin:0; padding:0; display:inline-block; position:relative; z-index:2000; }
.menu li a{
	display:inline-block;
	text-transform:uppercase;
	margin:0;
	padding:15px 39px 15px 10px;	
	background:url(../images/bg-menu.png) no-repeat -400px center;
	color:#767676;
	position:relative;
	z-index:3000;
}
.menu li > ul{ position:absolute; background:#996bb9; top:0px; left:100%; z-index:1000; display:none; transition:all 0.3s; }
.menu li ul > li{ width:100%; text-align:left; }

#menu li > ul{ background-color:#a073bf; left:0px; top:50px; }
#menu ul li > ul{ background-color:#996bb9; left:100%; top:0px; }
#menu ul li ul li > ul{ background-color:#a073bf; }

.menu .icon{ margin:20px 15px 0 0; padding:0; font-size:0.8rem; }
.menu .icon:before{ font-size:0.8rem; }

.menu li ul li a{ color:#FFF; }
.menu li a:hover, .menu li a.active{ color:#FFF; background:url(../images/bg-menu.png) no-repeat right center; }

.menu li:hover ul{ background:#996bb9; display:block; }
.menu li:hover ul > li > ul{ display:none; }
.menu li > ul > li:hover > ul{ display:block; }

.menu li:hover a{ color:#FFF; background:url(../images/bg-menu.png) no-repeat right center; }
.menu li:hover ul li a{ color:#FFF; background:url(../images/bg-menu.png) no-repeat -400px center; }

.menu li ul li a:hover{ color:#FFF; background:url(../images/bg-menu.png) no-repeat right center; }


/* MENU MOBILE 
-------------------*/
.menu_mobile{ position:fixed; background: url(../images/bg-menu-mobile.png) repeat-y right top #47007c; z-index:1000; top:87px; left:0px; overflow:auto; max-height:99%; width:95%; max-width:450px; height:100%; display:none; }
.menu_mobile ul{ list-style:none; padding:20px 40px 50px 30px; margin:0 0 0 0; text-transform:uppercase; }
.menu_mobile li{ list-style:none; margin:0; padding:0 0 10px 0; }
.menu_mobile li:last-child{ padding:0 0 0 0; }
.menu_mobile li ul{ margin:10px 0 0 15px; padding:0; display:none; }
.menu_mobile li ul li{ margin:0 0 15px 5px; padding:0; }
.menu_mobile li a{ color:#FFF; font-size:11pt; }
.menu_mobile li a:hover{ color:#CCC; }
.menu_mobile li ul li{ margin:0 0 5px 5px; }
.menu_mobile li ul li a{ color:#9d1dfd; font-size:8pt; }
.menu_mobile li ul li a:hover{ color:#CCC; }
.menu_mobile .menos{ display:none; }
.menu_mobile .icon:before{ margin-left:40px; font-size:1rem; color:#7f4ba3; }
.menu_mobile .close{ cursor:pointer; }

@media only screen and (max-width: 64em) {
	.header_mobile .branding img{ width:auto; height:60px; }
}
@media only screen and (max-width: 40em) {	
	.header_mobile .social{ padding-right:130px;}
	.header_mobile .icon{ margin:5px 5px 5px 0; }
	.header_mobile .icon-search{ margin-left:15px; }
	.header_mobile .branding{ right:15px; }	
	.header_mobile .icon-youtube{ display:none; }
}
@media only screen and (max-width: 35em) {	
	.header_mobile .social{ padding-right:100px;}
	.header_mobile .branding{ right:10px; }
}


/* HOME
--------------------------------------------------------*/
/* Destaque 
-------------------*/
.destaque{ position:relative; margin-top:0px; margin-bottom:20px;  }
.destaque .row{ padding:0 !important; margin:0 !important; }

.destaque .box-left, .destaque .box-right{ height:500px; overflow:hidden; }
.destaque .box1, .destaque .box2, .destaque .box3{ position:relative; }

.destaque .box1{ padding-right:2px; }
.destaque .box2{ margin-bottom:2px; height:50%; overflow:hidden; }
.destaque .box3{ height:50%; overflow:hidden; }

.destaque figure{ height:100%; }
.destaque figure .fx{ background:url(images/fx-home.png) center center; }

.destaque figure img{ min-height:100%; min-width:100%; max-width:none; max-height:none; width:auto; }
.destaque .box1 figure img{ height:100%; min-width:100%; width:auto; }

.destaque .cont{ position:absolute; z-index:2; top:0px; height:100%; width:100%; background:no-repeat right 120px; transition:all 0.3s; }

.destaque .box1 .cont{ background-image: url(images/bg-destaques-1.png); background-position:right 250px; }
.destaque .box2 .cont{ background-image: url(images/bg-destaques-2.png);}
.destaque .box3 .cont{ background-image: url(images/bg-destaques-3.png);}

.destaque .cont .column{ padding:0 1.5rem 1.5rem 1.5rem; background:url(images/bg-shadow.png) repeat-x left bottom; }

.destaque .cont h1{ font-size:2.8rem; max-width:70%; line-height:1.2; }
.destaque .cont hr{ width:60%; }
.destaque .cont p{ max-width:50%; margin-bottom:10px; }

.destaque .bx:hover figure img{ transform:scale(1.1); }
.destaque .bx:hover figure .fx{ opacity:1; z-index:1; }
.destaque .bx:hover .cont{ background-position:right top; }
.destaque .bx:hover .bt-icon{ padding-left:90px; }
.destaque .bx:hover .bt-icon:before{ z-index:10; opacity:1; }


@media only screen and (max-width: 64em) {
	.destaque .cont h1{ font-size:2rem; }
	.destaque .cont h1, .destaque .cont hr, .destaque .cont p{ max-width:80%; }	
}

@media only screen and (max-width: 40em) {
	.destaque .box1 .cont{ background-position:right 120px; }
	.destaque .box1 .cont:hover{ background-position:right top; }
	.destaque .cont h1{ font-size:1.8rem; }
	.destaque .box-left{ height:250px; margin-bottom:2px; }
	.destaque .box1 figure img{ width:100%; height:auto; min-height:100%; max-width:none; }	
	.destaque .cont h1, .destaque .cont hr, .destaque .cont p{ max-width:90%; }	
}


/* Home-Esplanada 
-------------------*/
.home-esplanada .esplanada{ background:url(images/mineirao-bg-esplanada.jpg) bottom center no-repeat; } 
.home-esplanada .fx{ background:url(images/bg-esplanada-fx.png) top right no-repeat; padding-left:20px; } 
.home-esplanada h2{ padding:20px 0 5px 0; margin:0; font-size:2.2rem; }
.home-esplanada p{ margin:0 0 20px 0; padding:0; }
.home-esplanada hr, .home-esplanada p{ max-width:60%; }

.home-esplanada .bt-icon{ font-size:60pt; padding-bottom:20px; }
.home-esplanada .bt-icon:hover{ padding-left:180px; }
.home-esplanada .bt-icon:before{ content:'Saiba mais'; top:20px; color:#FFF; }

.home-esplanada .radio .box{ background:#999; }
.home-esplanada .radio h4{ padding:10px 15px 20px 10px; margin:0; }

@media only screen and (max-width: 40em) {
	.home-esplanada hr, .home-esplanada p{ max-width:70%; }
	.home-esplanada .esplanada{ margin-bottom:15px; }
	.home-esplanada .fx, .home-esplanada .box{ height:auto !important; }
}



/* Grid Links 
-------------------*/
.grid-links.home figure{ max-height:200px;}

.grid-links .column{ margin-bottom:20px; }
.grid-links h2{ font-size:1.5rem; }
.grid-links p{ margin-bottom:10px; }

.grid-links a{ padding-left:95px; }
.grid-links a:hover{ color:#FFF; padding-left:90%; }
.grid-links a:before{ color:#3f3f3f; left:0px; opacity:1; }
.grid-links a:hover::before{ color:#FFF; padding-left:10px; }
		
.grid-links a.roxo:hover{ background:#7f4ba3; }
.grid-links a.verde:hover{ background:#00d0ce; }
.grid-links a.verde2:hover{ background:#3c9942; }
.grid-links a.amarelo:hover{ background:#f4ea12; }
.grid-links a.vermelho:hover{ background:#ef2a32; }
.grid-links a.azul:hover{ background:#5ec9e3; }
.grid-links a.laranja:hover{ background:#ea7536; }
.grid-links a.silver:hover{ background:#797979; }
.grid-links a.silver_dark:hover{ background:#484848; }
.grid-links a.dourado:hover{ background:#c6a464; }
.grid-links a.rosa:hover{ background:#de45b5; }

@media only screen and (max-width: 64em) {
	.grid-links.home figure{ max-height:inherit; }
	.grid-links .column{ padding-left:1rem; padding-right:1rem; }
}
@media only screen and (max-width: 40em) {
	.grid-links .column{ margin-bottom:40px; padding-left:0.85rem; padding-right:0.85rem; }
}



/* CONTENT
--------------------------------------------------------*/
.main_mobile{ display:none; height:90px; width:100%; }
.breadcrumb small{ font-size:10pt; color:#c0c0c0; }
.banner{ margin-top:10px; }
.banner figure{ margin:0; }
.content .column{ margin-bottom:50px; }
.content .column:last-child{ margin-bottom:0; }

.share .icon{ font-size:1.2rem; margin-bottom:15px; }


/* Sub-Menus
-------------------*/
.sub-nave{ margin-top:15px; }
.sub-nave a{ font-size:1rem; margin:0 0 5px 0;padding-bottom:5px; border-bottom:solid 3px transparent; display:inline-block; text-transform:uppercase; }
.sub-nave a:hover, .sub-nave .active{ border-bottom:solid 3px #00d0ce; }

.content .sub-nave{ margin-top:0; margin-bottom:15px; }
.content .sub-nave a{ color:#00d0ce; font-size:1.2rem;  }
.content .sub-nave a:hover, .content .sub-nave a.active{ border-bottom:solid 3px #7f4ba3; }

@media only screen and (max-width: 64em) {
	.main_mobile, .header_mobile{ display:block; }
	.sub-nave{ display:none; }
}
@media only screen and (max-width: 40em) {
	.content{ margin-bottom:40px;}
}



/* WordPress Classes 
-------------------*/
.alignnone{ margin: 5px 15px 15px 0; }
.aligncenter, div.aligncenter{ display: block; margin: 5px auto 5px auto; }
.alignright{ float:right; margin: 5px 0 15px 15px; }
.alignleft{ float: left; margin: 5px 15px 15px 0; }
a img.alignright{ float: right; margin: 5px 0 15px 20px; }
a img.alignnone{ margin: 5px 15px 15px 0; }
a img.alignleft{ float: left; margin: 5px 15px 15px 0; }
a img.aligncenter{ display: block; margin-left: auto; margin-right: auto }
.wp-caption{ background:#e1e1e1; border:none; max-width: 100%; padding:0; margin-bottom:15px; text-align:left; }
.wp-caption.alignnone{ margin: 5px 15px 15px 0; }
.wp-caption.alignleft{ margin: 5px 15px 15px 0; }
.wp-caption.alignright{ margin: 5px 0 15px 15px; }
.wp-caption.aligncenter{ margin-bottom:15px; }
.wp-caption img { border: 0 none; height:auto; margin:0; max-width:100%; padding: 0; width:100%; }
.wp-caption p.wp-caption-text { font-size:11px; line-height: 17px; margin: 0; padding:5px 10px; color:#797979; }



/* PAGE TEMPLATES
--------------------------------------------------------*/

/* HISTÓRIA
-------------------*/
/* timeline */
.timeline{ margin:15px 0 0 0 !important; background:#7f4ba3; padding:15px 0 10px 0; }

.timeline .item{ color:#72e3b4; font-size:2rem; font-weight:700; cursor:pointer; border-bottom:solid 1px transparent; position:relative; line-height:1; }

.timeline .owl-carousel{ margin:0; display:inline-block; width:90%; }

.timeline a{ color:#72e3b4;}
.timeline a:hover{ color:#ff734e; text-decoration:underline; }
.timeline .active{ color:#ff734e; text-decoration:underline; }

.timeline .icon{ width:5%; margin:5px 0; text-align:center; display:inline-block; }
.timeline .icon:before{ color:#72e3b4; }

.todas{ margin:15px 0; }

.timeline .ano1{ background:url(images/content/ano1.png) right center no-repeat; }
.timeline .ano2{ background:url(images/content/ano2.png) right center no-repeat; }
.timeline .ano3{ background:url(images/content/ano3.png) right center no-repeat; }
.timeline .ano4{ background:url(images/content/ano4.png) right center no-repeat; }
.timeline .ano5{ background:url(images/content/ano5.png) center center no-repeat; }
.timeline .ano6{ background:url(images/content/ano6.png) left center no-repeat; }
.timeline .ano7{ background:url(images/content/ano7.png) left center no-repeat; }
.timeline .ano8{ background:url(images/content/ano8.png) left center no-repeat; }
.timeline .ano9{ background:url(images/content/ano9.png) left center no-repeat; }

.navFixes{ position:fixed; z-index:1000; width:100%; max-width:100%; margin:0 !important; left:0px; top:0px; }

@media only screen and (max-width: 64em) {
	.navFixes{ top:85px; }	
}
@media only screen and (max-width: 40em) {
	.timeline .item img{ width:90%;  }
	.timeline .owl-carousel{ width:70% !important; margin:2px 0 0 0; }
	.timeline .icon{ width:15%; }
	.timeline .item{ font-size:1.5rem; }
}

/* historia loop */
.historia{ overflow:hidden; }
.historia .item{ 
	width:24%; 
	margin:0 0.5% 10px 0.5%;
	padding:0 0 15px 0;
	vertical-align:top;
	float: left;
	border:none;
	background:#FFF;	
	border-bottom:solid 3px #72e3b4;
	cursor:default;
	z-index:10;
	transition:all 0.4s;
}
.historia .item:hover{border-bottom:solid 5px #72e3b4; box-shadow: 0px 3px 5px #888888; z-index:20; }
.historia .item:hover hr{ border-color:#7f4ba3;}
.historia .item:hover figure img{ transform:scale(1.1); }
.historia .item:hover figure .fx{ opacity:1; }

.historia figure{ margin-bottom:15px; height:270px; width:auto; }
.historia figure img{ min-height:270px; min-width:100%; max-width:inherit; width:auto; }

.historia h1{ text-align:center;}
.historia hr{ width:15%; margin:0 auto; border-color:#72e3b4; }
.historia p{ max-width:80%; margin:10px auto; }

.historia .bt-share{
	width:150px;
	margin:10px auto;
	padding:0;
	display:inline-block;	
	position:relative;
	overflow:hidden;
	height:30px;
}

.historia .bt-share:after, .historia .bt-share:before{
	font-family: 'FontAwesome';
	font-size: 2rem;
	line-height:0.9;
	position:absolute;
	transition:all 0.4s;
}

.historia .bt-share span{ display:inline-block; position:absolute; bottom:-30px; left:50%; width:100px; margin-left:-50px; opacity:0; transition:all 0.4s; }
.historia .bt-share:before{ content:"\f104"; right:50%; margin-right:5px; }
.historia .bt-share:after{ content:"\f105"; left:50%; margin-left:5px; }
.historia .icon:before{ color:#72e3b4 !important; }

.historia .item:hover .bt-share span{ bottom:0; opacity:1; }
.historia .item:hover .bt-share:before{ right:90%; }
.historia .item:hover .bt-share:after{ left:90%; }

@media only screen and (max-width: 64em) {
	.historia .item{ width:32.33333%; }
}
@media only screen and (max-width: 40em) {
	.historia .item{ width:inherit; }
}



/* JOGOS E EVENTOS
-------------------*/
.jogos_eventos .column{ margin-bottom:25px; }

.jogos_eventos figure{ max-height:250px; }
.jogos_eventos figure:hover img{ transform:scale(1.1); }
.jogos_eventos figure:hover .fx{ opacity:1; }

.jogos_eventos .chech, .jogos_eventos .coments{ margin:0 0 0 10px; display:inline-block; }
.jogos_eventos .chech:before{ content:url(images/icones/icone-check.png); margin:0 5px 0 0; }
.jogos_eventos .coments:before{ content:url(images/icones/icone-coments.png); margin:0 5px 0 0; }
.jogos_eventos .bt-icon:before{ color:#7f7f7f; }

.jogos_eventos .bg_white{ background:#FFF; }

@media only screen and (max-width: 40em) {
	.jogos_eventos h4{ padding-right:0; }
	.jogos_eventos .check{ margin-top:20px; }
}

/* INTERNA */
.jogos_eventos hr.bord{ border-bottom:solid 1px #c7c8ca; margin:20px 0; }

.bt-fixa{
	display: inline-block;
	cursor: pointer;
	background-color:#FFF;
	padding:20px 20px 15px 20px;
	margin:10px 0;	
	font-size:1rem;
	line-height:1;
	vertical-align:middle;
	background:url(images/icones/bg-icone.png) -215px center no-repeat #FFF;
	transition: all 0.3s;
}
.bt-fixa:before {
	font-family: 'FontAwesome';
	font-size: 1.4rem;
	line-height:1;
	vertical-align:middle;
	display:inline-block;
	margin:0 25px 0 0;	
	color:#FFF;
	transition:all 0.3s;
}
.bt-fixa:hover, .bt-fixa.active{ background-color:#7f4ba3; background-position:left center; color:#FFF; }
.bt-dor:before{ content:url(images/icones/icone-door.png); }
.icon-map-marker{ margin:0;}

/* EU FUI */
.eu-fui .box{
	background:#FFF;	
	border-bottom:solid 3px #72e3b4;
	cursor:default;
	transition:all 0.4s;
}

.eu-fui figure{ position:relative; margin-bottom:15px; height:270px; }
.eu-fui figure img{ min-height:270px; width:auto; min-width:100%; }

.eu-fui .box2 figure{ margin-bottom:15px; height:auto; max-height:none; }
.eu-fui .box2 figure img{ min-height:inherit; width:auto; min-width:100%; }

.eu-fui .column .box:hover{border-bottom:solid 5px #72e3b4; box-shadow: 0px 3px 5px #888888; z-index:20; }
.eu-fui .column:hover figure img{ transform:scale(1.1); }
.eu-fui .column:hover figure .fx{ opacity:1; }

.eu-fui .head{ text-align:left; padding:20px 20px 5px 20px; background:#FFF; margin:0; }
.eu-fui .head figure{ margin:0; height:auto; }
.eu-fui .head figure img{ min-height:inherit; }
.eu-fui hr{ margin:0 0 20px 0; border-bottom:solid 1px #00d0ce; }

.eu-fui .bt{ background-color:#7f4ba3; color:#FFF; margin:0 0 10px 0; padding:10px 15px; display:inline-block; }
.eu-fui .bt:hover{ background-color:#00d0ce; }

.eu-fui h1{ text-align:center; padding:0 15px; }
.eu-fui .bt-share{
	width:150px;
	margin:10px auto;
	padding:0;
	display:inline-block;	
	position:relative;
	overflow:hidden;
	height:30px;
}

.eu-fui .bt-share:after, .eu-fui .bt-share:before{
	font-family: 'FontAwesome';
	font-size: 2rem;
	line-height:0.9;
	position:absolute;
	transition:all 0.4s;
}

.eu-fui .bt-share span{ display:inline-block; position:absolute; bottom:-30px; left:50%; width:100px; margin-left:-50px; opacity:0; transition:all 0.4s; }
.eu-fui .bt-share:before{ content:"\f104"; right:50%; margin-right:5px; }
.eu-fui .bt-share:after{ content:"\f105"; left:50%; margin-left:5px; }
.eu-fui .icon:before{ color:#72e3b4 !important; }

.eu-fui .column:hover .bt-share span{ bottom:0; opacity:1; }
.eu-fui .column:hover .bt-share:before{ right:90%; }
.eu-fui .column:hover .bt-share:after{ left:90%; }


/* INTERNA 3 */
.jogos_eventos .contato textarea{ border-bottom:solid 2px #83f3c5; }
.jogos_eventos .contato [type='submit']{ float:left; }

.jogos_eventos .button{ background:#3e3e3e; }
.jogos_eventos .button:hover span:before,
.jogos_eventos .button:focus span:before { background:#FFF; color:#3e3e3e; }


/* INTERNA 4 */
.jogos_eventos .cab{ margin-bottom:20px; background:none; }
.jogos_eventos .cab .bt-fixa{ margin-right:10px; }
.jogos_eventos .cab .icon-left:before{ margin:0 25px 0 10px}

.jogos_eventos .foto.item{ background:#FFF; padding:10px; margin:0 5px 5px 5px; border-bottom:solid 3px #8af2c7; }
.jogos_eventos .foto.item figure{ height:auto; }


/* ESPLANADA 
-------------------*/
.esplanada .lojas .nav-slide{ position:relative; display:inline-block; margin-right:20px; }
.esplanada .lojas .nav-slide:hover{ opacity:0.6; }

.esplanada .lojas .nav-right:after, .esplanada .lojas .nav-left:before{ 
	font-family: 'FontAwesome';	
	transition: all 0.3s;
	color:#de45b5;
	font-size:50pt;
	vertical-align:middle;
}
.esplanada .lojas .nav-right:before, .esplanada .lojas .nav-left:after{
	vertical-align:middle;	
	line-height:1;
	font-size:12pt;	
	font-weight:400;
	text-transform:uppercase;	
	transition:all 0.3s;
}

.nav-left:before{ content:"\f104";  }
.nav-right:after{ content:"\f105"; }

.nav-right:before{ content:"Próxima"; }
.nav-left:after{ content:"anterior"; }


.esplanada .regras figure{ margin:-30px 0 15px 0; }
.esplanada .regras .column{ padding:15px 1.3rem; transition:all 0.4s; border:solid 1px transparent; border-radius:50%; margin:0; }
.esplanada .regras .column:hover{ cursor:default; transform: scale(1.1); }
.esplanada .regras hr{ width:30px; margin:0 auto; }
.esplanada .regras .column:hover hr{ border-color:#ff734e; }
.esplanada .regras h3{ font-size:1.6rem; }

@media only screen and (max-width: 64em) {
	.esplanada .regras figure{ margin:-10px 0 15px 0; }
}



/* ESTRUTURA
-------------------*/
.estrutura{ position:relative; }

.estrutura .item img{ position:relative; z-index:10; min-height:100%; max-height:350px; min-width:100%; max-width:inherit; }
.estrutura .item .fx{ position:absolute; z-index:15; background: url(images/fx-slide-estrutura.png) no-repeat center center; width:100%; height:100%; }
.estrutura .item .box{ position:absolute; z-index:20; bottom:30px; padding:0 0 0 200px; }
.estrutura .item .box p{ max-width:50%; }

.estrutura .icon-left{ position:absolute; left:170px; top:20px; z-index:100; }
.estrutura .icon-next{ position:absolute; right:170px; bottom:20px; z-index:100; }
.estrutura .icon:before{font-size:5rem;}


@media only screen and (max-width: 64em) {
	.estrutura .item img{ max-height:300px; }
	.estrutura .icon-left{ left:30px; }
	.estrutura .icon-next{ right:30px; }

	.estrutura .item{ min-height:250px; }
	.estrutura .item .box{ padding:0 70px; }
}

@media only screen and (max-width: 40em) {
	.estrutura .icon-left{ left:10px; }
	.estrutura .icon-next{ right:10px; }
	.estrutura .item .box{ padding:0 40px; }
	.estrutura .item .box p{ max-width:100%; }
}



/* INGRESSOS
-------------------*/
.separador{ border-bottom:solid 1px #CCC; }
.footer-ingressos{ background:url(images/passaportes-footer.png) top center; padding-top:40px; }
.footer-ingressos .button{ background-color:#00d0ce; }
.footer-ingressos .button:hover span::before, .footer-ingressos .button:focus span::before { background:#2dbcc5; }

@media only screen and (max-width: 40em) {
	.separador{ margin:30px 0; }
	.footer-ingressos .button{ margin-bottom:30px; }
}



/* EVENTOS 
-------------------*/
.eventos .column h4{ padding:20px 0 5px 0; border-bottom:solid 1px #CCC; }
.eventos .column p{ margin:0; }
.eventos .column .first a{ display:inline-block; margin-right:10px; }
.eventos .column a{ color:inherit; display:block; margin-bottom:10px; }
.eventos .column a:hover{ color:#999; }
@media only screen and (max-width: 40em) {
	.eventos{ margin-bottom:40px; }
}



/* FOOTER CONTATO 
-------------------*/
.footer-contato{ padding-top:30px; }
.footer-contato h2{ margin:0 0 5px 0; }
.footer-contato h2 span{ margin-right:5px; font-size:0.6em; }

@media only screen and (max-width: 40em) {
	.footer-contato h1{ text-align:center; }
	.footer-contato .columns{ margin-top:0; text-align:center; }
	.footer-contato .button{ width:70%; }
}



/* GALERIA DE FOTOS 
-------------------*/
.galeria .column{ margin-bottom:15px; }

.galeria figure{ max-height:250px; border:solid 5px transparent; }
.galeria figure:hover{ border-color:#ffd450; }
.galeria figure:hover img{ transform:scale(1.1); }

.galeria h4{ padding-right:52px; }
.galeria .data{ float:right; margin:-30px 0 0 0; color:#7e7e7e; font-weight:300; }

@media only screen and (max-width: 40em) {
	.galeria h4{ padding-right:0; }
	.galeria .data{ float:left; margin:-5px 0 0 0;}
}



/* NEWS 
-------------------*/
.news{ padding-top:0; padding-bottom:50px; }
.news:last-child{ padding-bottom:0; }
.news h1{ font-size:2.3rem; line-height:1.1; }

.news .categoria{ margin-top:15px; margin-bottom:20px; text-align:right; }
.news .categoria .data{ display:inline-block; }
.news .categoria .links{ border-bottom:solid 1px #CCC; margin-right:20px; }
.news .categoria a{ color:#FFF; padding:4px 15px; display:inline-block; margin:0 0 0 10px; }
.news .categoria a:hover{ opacity:0.5; }
.news .categoria .cat1{ background:#ef2a32; }
.news .categoria .cat2{ background:#00d0ce; }
.news .bt-more{ padding-top:0; }



/* PASSAPORTE 
-------------------*/
/* Home Passaporte */
.bg-passaporte{ background:url(images/mineirao-bg-passaporte-home.jpg) center top fixed; }
.home-passaporte{ max-width:100%; padding:30px 0 20px 0; }
.home-passaporte h1{ font-size:6rem; text-align:center; width:100%; }
.home-passaporte .column{ padding-bottom:25px; }
.home-passaporte .bt-icon{ width:auto; min-width:120px; margin:15px auto 0 auto; display:inline-block; }
.home-passaporte .bt-icon:hover::before{ color:#FFF; }
.home-passaporte .button, .home-passaporte .button span{ width:100%; }
.home-passaporte h3{ font-size:2.2rem; }
@media only screen and (max-width: 64em) {
	.home-passaporte h1{ font-size:4.5rem; line-height:1.2; margin-bottom:40px; }	
}
@media only screen and (max-width: 40em) {
	.home-passaporte .column{ padding-bottom:40px; }
	.home-passaporte figure img{ width:auto; }
}
@media only screen and (max-width: 30em) {
	.home-passaporte h1{ font-size:3.5rem; }
	.home-passaporte figure img{ width:100%; height:auto; }
}


/* Interna */
.banner-passaporte{ background:url(images/banner/passaportes.jpg) top center fixed; padding-top:50px; padding-bottom:80px; margin-top:10px; }
.banner-passaporte h1{ font-size:6rem;}
.banner-passaporte .bt-icon-large::before{ font-size:5rem; padding-left:20px; }
.banner-passaporte .bt-icon-large span{ color:#FFF; font-size:2.6rem; }

.passaporte figure{ padding-top:25px; }
.passaporte .bt-icon{ display:inline-block; margin:0 auto; min-width:100px; }
.passaporte .column{ padding-bottom:25px; }

.passaportes-destaques a img{ margin:20px 0 0 auto; }
.passaportes-tabela{ background:#FFF; }
.passaportes-tabela .column{ background:#e0e0e0; }

.passaportes-footer{ background:url(images/passaportes-footer.png) top center; padding-top:90px; margin-top:-40px; position:relative; z-index:10; }
.passaportes-footer h2{ font-size:3.4rem; }
.passaportes-footer, .passaportes-footer .button{ width:100%; margin-bottom:0; }
.passaportes-footer .button{ margin-top:40px; }

@media only screen and (max-width: 40em) {
	.passaportes-footer h2{ font-size:3rem;}
	.passaportes-footer h2, .passaportes_footer p{ text-align:center;}
}



/* MOBILIDADE 
-------------------*/
.mobilidade select, .mobilidade .start, .mobilidade hr{ margin:0;}
.mobilidade .start{ background:#e9e9e9; border:none; padding:15px 15px; height:auto; }
.mobilidade select{ color:#00cdcf; border:none; padding:15px 15px; height:auto; }

.mobilidade hr{ max-width:100%; }
.mobilidade #map_{ height:400px; margin-bottom:20px; }


.mobilidade #map_full{ height:630px; position:relative; z-index:10; }
.mobilidade #trajeto{ height:550px; position:absolute; z-index:20; background:#FFF; margin:-570px 0 0 15px; overflow:scroll; display:none; }
.mobilidade #trajeto h2{ margin:15px 0; }
.mobilidade #right-panel{ background:#FFF; height:400px; overflow:auto; }
.mobilidade .reference{ position:relative !important; }
.mobilidade .close_map{ position: absolute; z-index:10000; text-align:right; margin:80px 0 0 0; display:none; }

@media only screen and (max-width: 40em) {
	.mobilidade #map_{ height:300px; margin-bottom:0; }
	.mobilidade #trajeto{ margin:20px 0 0 0; padding-top:15px; padding-top:15px; position:relative; }
}



/* LAYOUT BLOCK
-------------------*/
#layout-block{ position:relative; z-index:1; }
#layout-block .sidebar{ position:absolute; z-index:2; margin-top:40px; top:0px; }

@media only screen and (max-width: 64em) {
	#layout-block{ position:inherit;}
	#layout-block .sidebar{ position:inherit; width:100%; max-width:none; }
}



/* SUSTENTABILIDADE 
-------------------*/
/* SECTION SUSTENTAVAL */
.sustentavel{ background: url(images/bg-sustentabilidade.png) no-repeat top center; padding-top:40px; }
.sustentavel h2{ font-size:2rem; max-width:40%; }
.sustentavel h1{ margin:120px 0 0 0; font-size:15rem; line-height:0.9; }
.sustentavel small{ font-size:0.6em; display:none; }
@media only screen and (max-width: 64em) {
	.sustentavel h2{ max-width:none; }
	.sustentavel h1{ font-size:10rem; margin:90px 0 0 0; }
}	
@media only screen and (max-width: 40em) {
	.sustentavel h1{ font-size:5rem; margin:60px 0 0 0;}
}


/* SECTION PARTIDAS */
.partidas-sustentabilidade{ background:url(images/bg-partidas-sustentabilidade.jpg) #764597 center bottom no-repeat; }
.partidas-sustentabilidade .box{ padding-top:60px; padding-bottom:60px; background:url(images/versus.png) center bottom no-repeat; }
.partidas-sustentabilidade h2{ font-size:2rem; font-weight:300; letter-spacing:1.4rem; margin-bottom:30px; }
.partidas-sustentabilidade select{ max-width:30%; }
 .partidas-sustentabilidade select option{ color:#666; }
 
 /* SELECT 2 */
.select2-container--default .select2-selection--single{ background-color:transparent !important; color:#FFF !important; line-height:1.3; }
.select2-container--default .select2-selection--single .select2-selection__rendered{ color:#FFF !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{ border-color: #FFF transparent transparent transparent !important;}

.partidas-sustentabilidade .placar{ padding-top:20px; padding-bottom:40px; }
.partidas-sustentabilidade .placar h3{ margin:0; line-height:1; font-size:2.4em; }
.partidas-sustentabilidade .placar h4{ margin:0; line-height:1; font-size:1.4em; }
.partidas-sustentabilidade .placar figure:hover { transform: scale(1.1); }
.partidas-sustentabilidade .placar figure img{ width:auto; margin:0; }

.partidas-sustentabilidade .coleta h3, .partidas-sustentabilidade .coleta h4{ margin:0; }

@media only screen and (max-width: 64em) {
	.partidas-sustentabilidade .box{ padding-top:50px; padding-bottom:50px; }
	.partidas-sustentabilidade select{ max-width:50%;}
	.partidas-sustentabilidade .placar{ padding-top:10px; padding-bottom:30px; }
	.partidas-sustentabilidade .coleta .column{ padding-bottom:35px; }
	
}
@media only screen and (max-width: 40em) {
	.partidas-sustentabilidade .box{ padding-top:40px; padding-bottom:30px; }
	.partidas-sustentabilidade select{ max-width:100%;}	
	.partidas-sustentabilidade .placar figure img{ width:100%; }
	.partidas-sustentabilidade .placar h3{ font-size:2em; }
	.partidas-sustentabilidade .placar h4{ font-size:1em; }
	.partidas-sustentabilidade .coleta img{ max-width:90%; }
}


/* SECTION SOBRE */
.sustentabilidade-sobre{background:url(images/bg-sustentabilidade-sobre.jpg) fixed;padding-top:50px;padding-bottom:50px; }
.sustentabilidade-sobre h2{ font-size:2.7rem; margin-bottom:20px; }
.sustentabilidade-sobre p{ max-width:80%; margin:0 auto 15px auto; }
@media only screen and (max-width: 40em) {
	.sustentabilidade-sobre p{ max-width:none; }	
}



/* VISITE
-------------------*/
.visite hr, .visite-ingressos hr{ border-bottom:solid 1px #C7C8CA; }
.visite .column:hover figure img{ transform:scale(1.1); }

.visite-ingressos{ background:url(images/bg-visite.jpg); padding-top:50px; padding-bottom:30px; }
.visite-ingressos .column{ margin-bottom:20px; }
.visite-ingressos .column:last-child{ margin-bottom:0; }
.visite-ingressos .bt-icon-large span{ color:#FFF; }

.visite-regras{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;	
}

@media only screen and (max-width: 40em) {	
	.visite-ingressos{ padding-bottom:50px; }	
	.visite-ingressos .bt-icon-large{ margin:20px 0; }
	.visite-ingressos p{ margin-bottom:5px; }
	.visite-regras{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;	
	}
}



/* VAGAS 
-------------------*/
.vagas h1{ font-size:15rem; }
.mobilidade #right-panel{ background:#FFF; height:400px; overflow:auto; }
@media only screen and (max-width: 40em) {
	.mobilidade #map_{ height:300px; margin-bottom:0; }
}



/* CONTATO
-------------------*/
.contato .box{ background:#FFF; padding:15px; }

.contato select{ color:#00cdcf; border:none; border:none; border-bottom:solid 1px #eeeeee; margin:0; }
.contato [type='text'], .contato[type='password'], .contato[type='date'], .contato[type='datetime'], .contato[type='datetime-local'], .contato[type='month'], .contato[type='week'], .contato[type='email'], .contato[type='number'], .contato [type='search'], .contato [type='tel'], .contato [type='time'], .contato [type='url'], .contato [type='color'], .contato textarea{ border:none; border-bottom:solid 1px #eeeeee; margin:0; box-shadow:none; }

.contato [type='file']{ margin:10px 0;}
.contato [type='submit'], .contato [type='button'], .contato a.seta { border:none; background:url(../images/bt-enviar.png) no-repeat left center; margin:20px 0 0 0; 
padding:10px 0 10px 35px; transition:all 0.3s; color:#fff; text-decoration:none;}
.contato [type='submit']:hover, .contato [type='button']:hover, .contato a.seta:hover { padding:10px 35px 10px 0; background-position:right center; }

/*original
.contato [type='submit']{ border:none; background:url(../images/bt-enviar.png) no-repeat left center; margin:20px 0 0 0; 
padding:10px 0 10px 35px; transition:all 0.3s; color:#fff; }
.contato [type='submit']:hover{ padding:10px 35px 10px 0; background-position:right center; }
*/

.botao { 
    border:none; 
    background:url(../images/bt-enviar.png) no-repeat left center; 
    margin:20px 0 0 0; 
    padding:10px 0 10px 35px; 
    transition:all 0.3s; 
    color:#fff; 
}
.botao:hover{ 
    padding:10px 35px 10px 0; 
    background-position:right center; 
}

.contato .button{ background-color:#00d0ce; width:100%; }
.contato .button:hover span::before, .contato .button:focus span::before{ background:#2dbcc5; }

div.wpcf7-response-output{ display:block; float:left; width:100%; margin-bottom:20px; }

/* SIDEBAR
--------------------------------------------------------*/
.sidebar .column{ margin-bottom:40px; }
.sidebar .column:last-child{ margin-bottom:0px; }

.sidebar form .align-middle{ background:#f8f8f8; padding:0; margin:0; }
.sidebar select{ margin-bottom:0px; border-color:#f8f8f8; }
.sidebar form a{ margin-top:10px; font-size:12pt; display: inline-block; }
.sidebar p{ margin:0 0 10px 0;}

.sidebar .categs{ margin-bottom:3px; }
.sidebar .shrink { margin:8px 0;}

.sidebar li{ margin-left:0;}
.sidebar li a{ color:#5c5c5c; font-size:1rem; margin-bottom:10px; }
.sidebar li a:hover{ color:#999; }

.sidebar .callout{ background:#764597; }

.sidebar img{ width:auto; max-width:100%; }

@media only screen and (max-width: 40em) {
	.sidebar{ margin-top:30px; padding:0; }
}


/* FOOTER 
--------------------------------------------------------*/
footer{ padding:50px 0 30px 0; margin:0 0 0 0; background:#484848; }

footer .box{ padding-left:1.6rem; padding-right:1.6rem;}

footer hr{ border-bottom: 1px solid #ea7536; }
footer p, footer a{ color:#b6b6b6; }
footer fieldset, footer label{ color:#9e9e9e;}

footer fieldset{ margin:20px 0 0 0; border:none; padding:0 !important; }
footer legend{ margin:0 0 15px 0; }

footer input{ background-color:transparent !important; height:auto !important; }

footer [type='file'], [type='checkbox'], [type='radio']{ margin-bottom:3px;}

footer input[type='text'], footer input[type='textarea'], footer input[type='email']{ font-size:0.8rem; color:#FFF; margin-bottom:4px; border:solid 1px #FFF; border-color:#FFF; }

footer input[type='submit']{ margin:10px 0 0 0; padding:5px 0; font-size:0.8rem; width:100%; color:#9e9e9e; border:solid 1px #9e9e9e; }
footer input[type='submit']:hover{ color:#00d0ce !important; background-color:#666 !important; }

footer ::-webkit-input-placeholder{color:#787878 !important;}
footer :-moz-placeholder{color:#787878 !important;}
footer :-ms-input-placeholder{color:#787878 !important;}
footer ::-moz-placeholder{color:#787878 !important;}

footer .mapa{ width:100%; height:220px; }

footer ul:last-child{ margin-bottom:0; }
footer ul li{ margin:0 0 15px 0; padding:0; list-style:none; }
footer ul li:last-child{ margin:0; }
footer ul li ul{ margin:10px 0 0 0; padding:0; }
footer ul li ul li{ margin:0; padding:0; }

footer ul li ul li a{ font-size:10pt; font-weight:400; }
footer ul li ul li a:hover{ color:#CCC !important; }

footer ul li a{ font-size:11pt; }
footer ul li a:hover{ color:#ea7536 !important; }

.copyright { background:#00d0ce; padding:15px 0; margin:0; border-top:solid 1px #FFF; }
.copyright h6{ color:#787878; margin:0; }
.copyright a{ margin:0; }

@media only screen and (max-width: 64em) {
	footer .item{ margin-bottom:30px; }
}
@media only screen and (max-width: 40em) {
	.copyright h6{}
} 

/*--------------caixa----------------*/
.bordArredondBilhet3 {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:3px solid #908e8e; min-height:350px; padding:10px; margin-bottom:50px;  margin-top:50px;}
.botCxStatus {border-radius:50%; background:#ddd; text-align:center; width:40px; height:40px; float:right; cursor:pointer;}
.botCxStatusSt {width:300px; background:#fff; padding:20px; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); display:none; position:absolute; z-index:100; right:0px;}
.btnCaixStatus {letter-spacing: 0px; float:right; color:#fff;}
.btnCaixStatus:hover {color:#fff;}
.btnCaixStatus:active {color:#fff;}
.btnCaixStatus:visited {color:#fff;}

.font-awesome {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    padding-left: 1px;
}
/*--------------caixa----------------*/

