@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Oswald-Regular.woff') format('woff'), 
	   url('../fonts/Oswald-Regular.ttf')  format('truetype'), 
	   url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Oswald-Light.woff') format('woff'), 
	   url('../fonts/Oswald-Light.ttf')  format('truetype'), 
	   url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Medium';
  src: url('../fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Oswald-Medium.woff') format('woff'), 
	   url('../fonts/Oswald-Medium.ttf')  format('truetype'), 
	   url('../fonts/Oswald-Medium.svg#Oswald-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src:url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
        url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
        url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
        url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
}