@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot?v=4.5.0');
	src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), 
	url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
	url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
	url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
	url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/* BUTTONS */
.button{
	overflow:hidden;
	border:none;
	padding:0;
}
.button span {
	position: relative;
	display: inline-block;
	padding:10px 45px;
	font-size:1.2rem;
	line-height:1;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width:100%;
}
.button span:before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;		
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	font-family: 'FontAwesome';
	font-size:1.6rem;	
	line-height:1;
	text-align:center;
}
.button:hover span,
.button:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}
.button:hover span:before,
.button:focus span:before {
	background:#ea7536;
	padding:7px 0;
}


/* ICON */
.icon{
	display: inline-block;
	margin:5px;
	cursor: pointer;
	text-align: center;
	position: relative;
	transition: all 0.3s;
}
.icon:before {
	font-family: 'FontAwesome';
	font-size: 1.4rem;
	line-height: 0.9;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	transition:all 0.3s;	
}
.icon:hover::before { opacity:0.7; }


/* BT-ICON */
.bt-icon{ position:relative; font-size:36pt; display:block; line-height:1; transition:all 0.3s; }
.bt-icon:hover{ padding-left:90px; }
.bt-icon:before{
	position: absolute;
	top:7px;
	line-height:1;
	left:0;
    z-index: -10;
	content:'saiba mais';
	opacity:0;	
	font-size:12pt;	
	font-weight:400;
	text-transform:uppercase;
	transition:all 0.3s;
}
.bt-icon:hover::before{
	z-index:10;		
	opacity:1;
}
.bt-icon:after{
	font-family: 'FontAwesome';
	text-align: center;
	line-height:0.5;
	position:relative;
	top:2px;
	transition: all 0.3s;	
}


/* BT-ICON-SMALL  / BT-ICON-LARGE */
.bt-icon-small{ position:relative; text-align:right; display:inline-block; }
.bt-icon-small span{ color:#666; position:relative; left:0; transition:all 0.4s; }
.bt-icon-small:before{
	position:absolute;
	font-family: 'FontAwesome';
	line-height:0.5;
	position:relative;
	padding-right:5px;
	left:0;
	transition:all 0.3s;
}
.bt-icon-small:hover span{ left:-10px; }
.bt-icon-small:hover:before{ left:90%; }

.bt-icon-large{ position:relative; text-transform:uppercase; text-align:right; display:inline-block; }
.bt-icon-large span{ color:#666; position:relative; font-size:1rem; left:0; transition:all 0.4s; }
.bt-icon-large:before{
	position:absolute;
	font-family: 'FontAwesome';
	line-height:0.5;
	position:relative;
	font-size:3.2rem;
	padding-right:5px;
	top:9px;
	left:0;
	transition:all 0.3s;
}
.bt-icon-large:hover span{ left:-20px; }
.bt-icon-large:hover:before{ left:90%; }


/* ICON BORDER */
.icon-circle{
	display: inline-block;
	cursor: pointer;
	margin: 15px 0;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 0 3px #7f4ba3;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.icon-circle:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
	color:#FFF;
}

.icon-circle:after{
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #7f4ba3;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.icon-circle:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}


/* ICONS CONTENTS */
.icon-next:before{ content:"\f105"; }
.icon-left:before{ content:"\f104"; }
.icon-right:after{ content:"\f105"; }
.icon-fone:before{ content:"\f003"; }
.icon-list:before{ content:"\f03a"; }
.icon-search:before{ content:"\f002"; } 
.icon-ticket:before{ content:"\f145"; }
.icon-check:before{ content:"\f00c"; }
.icon-map-marker:before{ content:"\f041"; }

.icon-camera:before{ content:"\f030"; font-size:1.1em !important; }  



.icon-close:before{ content:"\f00d"; }  

.icon-left-circle:before{ content:"\f190"; }
.icon-right-circle:before{ content:"\f18e"; }

.icon-plus:before{ content:"\f067"; } 

.icon-plus-circle:before{ content:"\f055"; }
.icon-plus-square:before{ content:"\f0fe"; }
.icon-plus-square-o:before{ content:"\f196"; }

.icon-minus-circle:before{ content:"\f056 "; }
.icon-minus-square:before{ content:"\f146 "; }
.icon-minus-square-o:before{ content:"\f147"; }

.icon-plus-circle:before{ content:"\f055"; }
.icon-plus-square-o:before{ content:"\f196"; }
.icon-plus-square:before{ content:"\f0fe"; }

.icon-player:before{ content:"\f04b"; }
.icon-play:before{ content:"\f144"; }
.icon-ff:before{ content:"\f04e"; }
.icon-prev:before{ content:"\f04a"; }
.icon-pause:before{ content:"\f04c"; }

.icon-facebook:before{ content:"\f09a"; color:#375b8f; }
.icon-shopping:before{ content:"\f07a"; color:#fff !important; margin-right: 50px;font-size: 30px;}
.icon-user:before{ content:"\f007"; color:#fff !important; font-size: 30px;}
.icon-twitter:before{ content:"\f099"; color:#1dace8; }
.icon-instagram:before{ content:"\f16d"; color:#375b8f; }
.icon-youtube:before{ content:"\f16a"; color:#dd5044; } 
.icon-pinterest:before{ content:"\f0d2"; color:#c5242e; } 
.icon-google-plus:before{ content:"\f0d5"; color:#dd5044; } 
.icon-linkedin:before{ content:"\f0e1"; color:#127bb3; }
.icon-trash:before{ content:"\f1f8"; color:#dd5044; }