@import url("fonts.css");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: rgb(204,204,204)!important; 
}
p {margin:5px 0px!important;}
page[size="A4"] {
  background: white;
  width: 19cm;
  min-height: 27.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding:1cm;
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
hr {border:collapse; border:1px #000 dashed!important;}
h1 {font-family: 'Roboto Condensed'; font-weight: 300; font-size:40px; margin:8px;}
h2 {font-family: 'Roboto Condensed'; font-weight: 300; font-size:22px; margin:0px;}
.ladoDir {float:left;}
.superior, .side {display:inline-block;}
.superior2 {display:table-cell;}
.logoTop {width:2cm;}

.boxTable {display:table; width:100%; margin:10px auto;}
.boxTable div {display:table-cell; vertical-align:top; padding:5px; text-align:left; font-size:12px;}
.boxTable div:first-child {width:30%;}
.boxTable div:nth-child(2) {width:50%;}
.boxTable div:last-child  {width:20%; text-align:right;}

.boxTable div:first-child img {width:100%;}
.margemTop {margin-top:10px; line-height:24px;}
.margemTop2 {margin-top:10px; line-height:18px;}

.solido {border:collapse; border:1px #aaa solid!important;}
.agendado {font-weight: 600; font-size:20px;}
.fontMaior {font-size:20px;}
.agendado2 {font-size:30px;}

.mineirao-vouchers section:nth-of-type(even){
  page-break-after: always;
}
.mineirao-vouchers section.camarote1{
  text-align: left;
  page-break-after: always !important;
}

section.camarote1 .boxTable div:last-child{
  text-align: left;
}