.news .categoria .white { background:#FFF; }
.news .categoria .roxo { background:#7f4ba3; }
.news .categoria .verde { background:#00d0ce; }
.news .categoria .verde2 { background:#3c9942; }
.news .categoria .amarelo { background:#f4ea12; }
.news .categoria .vermelho { background:#ef2a32; }
.news .categoria .azul { background:#5ec9e3; }
.news .categoria .laranja { background:#ff734e; }
.news .categoria .silver { background:#797979; }
.news .categoria .silver_dark { background:#484848; }
.news .categoria .dourado { background:#c6a464; }
.news .categoria .rosa { background:#de45b5; }

.news .categoria .data {
	background: none;
}

.current-menu-item a,
.current-menu-ancestor a {
	border-bottom: solid 3px #00d0ce;
}

.current-menu-item.level-0 a,
.current-menu-ancestor a.level-0 {
	color:#FFF;
	background:url(imgs/bg-menu.png) no-repeat right center;
	border: none;
}

#main-menu a { border: none !important }

#menu-2nd-level a.current-menu-parent,
#menu-2nd-level a.current-menu-item,
#menu-2nd-level a.current-menu-ancestor { color:#FFF; background:url(imgs/bg-menu.png) no-repeat right center; }

.grid-links h2 {
	font-size: 1.2rem;
}

.grid-links hr {
	border-bottom-width: 1px;
}

.wpcf7-form-control-wrap br { display: none; }

.breadcrumb, .breadcrumb a, .breadcrumb span {
	font-size: 10pt;
	color: #c0c0c0;
	font-weight: 300;
}

footer li a { color: #00d0ce }

footer li li a { color: #b6b6b6 }

footer span.wpcf7-list-item {
	margin: 0;
	margin-right: 15px;
	display: block;
	float: left;
}

footer .wpcf7-list-item input[type=radio] {
	margin-left: 0;
	margin-right: 5px;
}

.conte-sua-historia {
	display: none;
}