.bordaCircle {stroke:#373435; stroke-width:0.80}

.fillWhite {fill: white;}
.fillGreen {fill: green;}
.fillRed {fill: red;}
.fillGray {fill: gray;}
.fillOrange {fill: orange;}
.fillYellow {fill: yellow;}
.fillRect {fill:#0e4d8e;}
.fillNone {fill:none;}

.backGray {fill:gray;}
.backGreen {fill:#00A859;}
.backBlue {fill:#00AFEF;}
.backYellow {fill:#FFF212;}
.backRed {fill:#ED3237;}

.fntNormal {font-weight:bold;font-size:18.8057;font-family:'Arial'; fill: #444;}
.fntRect {font-weight:bold;font-size:23px;font-family:'Arial'; fill:#fff;}
.fntBlack {font-weight:normal;font-size:12.1042;font-family:'Arial'; fill:#fff;}
.fntWhite {font-weight:normal;font-size:12.1042;font-family:'Arial'; fill:#fff;}
.fntTitle {font-weight:bold;font-size:35px;font-family:'Arial'; fill: #444;}
.fntTitle1 {font-weight:bold;font-size:23px;font-family:'Arial'; fill: #444;}

.reserva-assento {cursor: pointer;}

@media only screen and (max-device-width : 640px) {
body {background:#555;}
.fillWhite {fill:#81eec5;}
.fntTitle1 {font-weight:bold;font-size:23px;font-family:'Arial'; fill: #81eec5;}
.backGray {fill:none; stroke:#81eec5;stroke-width:2;}
.fntWhite {fill: #81eec5;}
.fntNormal {fill: #81eec5;}
}