#venda-selecionados {height: 290px; overflow: overlay; margin-top:10px;}
#venda-selecionados .selecionado {margin-bottom: 10px; border: 1px solid red; padding: 2px; border-radius: 10px;}
.ocupante-nome, .ocupante-doc {margin-bottom: 2px;}

.line-red {border: red 1px solid; margin:5px;}
.float-right {float: right;}