#vlightbox {
	width:100%;
	zoom:1;	
}

.vlightbox {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	vertical-align:top;
	width:220px;
	margin:10px 30px 10px 30px;
	padding:6px;
	text-align:left;
	opacity:0.87;
}
.vlightbox a{
	margin:0;
	padding:0;
	border:none;
}
.vlightbox:hover, .vlightbox a:hover{
	opacity:1;
}
.vlightbox img{
	border:solid 5px #f4f5f5;
	display:block;
	margin:0;
}
.vlightbox div {display:none}